pdf_body{
	
	font-family: 'Helvetica Neue', 'Roboto', sans serif;

}

.noteRow {

	background-color:#FFFFFF;
	height: 40px;
	/*border-top: 1px solid #fafafa;*/

}

.noteCell {
	font-family: 'Helvetica Neue', 'Roboto', sans serif;
	font-size: 12px;
	vertical-align: bottom;

}

.contConf{
	background: #fff;
	padding: 10px;
}


ul.allest{
	padding: 0px;
	float: right;
}

ul.allest li{
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
	padding-top: 5px;
	margin-right: 1px;
	float: left;
	width:40px;
	box-sizing: border-box;
}

ul.allest li.inallest{

}


ul.allest li>div{
	width:10px;
	height: 10px;
}


ul.allest li.inallest>div{
	background: #428bca;
	width:10px;
	height: 10px;
	border-radius: 999px;
}


tr.inallest td{

	background: #EDFBEF;
}


.ui-body-c, .ui-overlay-c{
	background: white;

}
.hidden{display:none;}
.ui-select .ui-btn{overflow:visible !important;}
label.required{font-weight: bold;font-style: italic;}


* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

.centerAlign {
	text-align: center;
}


div.equipmentCode{
	background: #52a5dd;
	border-radius: 3px;
	font-weight: bold;
	padding: 3px 6px 4px 6px;
	color: white;
	float:right;
	margin-right: 10px;
	margin-top: -4px;
}

.price{
	font-family: 'Avenir Next Condensed','Open Sans Condensed', sans -serif;
	text-align: right;
	font-size: 16px;
	white-space: nowrap;
}

.headprice{
	text-align: right;
	white-space: nowrap;
}
.amount{
	font-family: 'Avenir Next Condensed','Open Sans Condensed', sans -serif;
	text-align: right;
	
	font-size: 16px;
}

.amount span{
	font-weight: bold;
}
.subtotal{
	font-family: 'Avenir Next Condensed','Open Sans Condensed', sans -serif;
	float: right;
}

.subtotal span{
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
}

tr.opChecked td{background: #edfbef;}
tr.opDisabled td{
	background: lightgray;
	color: gray;
	text-decoration: line-through; 
}

ul.detail {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}
ul.detail:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
ul.detail li{

	list-style: none;
	clear: both;
	margin: 0px;
	border-bottom: none;
	font-size: 0.9em;
}

ul.detail li.single{
	border-bottom: red solid 1px;
}

ul.detail li.double{
	border-bottom:  3px;
	border-style:none none double;
}

table.totals button{
	float: right;

}

table.totals tr.line_strong td{
	border-top: 2px solid;

}


table.totals tr.line_double td{
	border-top: 5px double;

}

.disabled div.subtotal{
	color: lightgray;

}
h4.panel-title{
	position: relative;
}
span.target{
	position: absolute;
	top:-30px;
	visibility: hidden;
	max-height: 1px;
	overflow: hidden;
}

#totals{
	float: right;
	position: relative;
	width: 229px;
	height: 264px;
	border-left: 1px solid #c9c9c9;
}

#totals ul{
	padding: 0px 11px 0px 16px;
	margin-top: 8px;
	margin-bottom: 4px;
}
#totals li{
	font-family: "Avenir Next Condensed",'Open Sans Condensed', sans -serif;
	font-size: 14px;
	font-weight: 500;
	padding: 0px 4px 0px 4px;
	list-style: none;

}
#totals li div{
	float: right;

}

#totals .divider{
	border-top: 1px solid #a8a8a8;

}

#totals .b{
	font-weight: bold;

}

#totals .title{
	margin: 12px 0px 0px 10px;
	font-family: "Avenir Next Condensed",'Open Sans Condensed', sans -serif;
	font-size: 16px;
	font-weight: 500;

	background-color: #bfbfbf;
	padding-left: 6px;
	padding-top: 2px;

}

#totals .title span{
	text-transform: uppercase;
}

#orderTotals .title{
	font-size:  18px;
	background-color: #93daec;
}

#orderTotals .total{
	font-size: 16px;
	font-weight: bold;
	background-color: #93daec;
}

#cellTotals div.changePrice{
	border:#c6c6c6 1px solid;
	background: #d4d4d4;
	width: 128px;
	height: 24px;

	font-size: 12px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
	float: right;
	margin-right: 10px;
	margin-bottom: 8px;
}

#orderTotals {
	clear: both;

}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

.ie7-clear {
    display: block;
    clear: both;
}

label.small{font-size: 14px; padding: 0px;margin:0px;}

div.detail-body{
	font-size: 12px;

}

div.detail-body .panel-title{
	font-size: 14px;

}

.border-top-none {
	border-top:0px solid #FFF;
}

#order-head-notes {

	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid #D5D5D5;


}

#order-head-notes-mod {

	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid #D5D5D5;


}


#order-head-notes table {

}

#order-head-notes tr td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	height: 25px;
	
}



#order-head-notes table td:nth-child(1) { /* CONTENITORE TABELLA INTERNA */
/*background-color: #0F0;*/
width: 40%;
	 
}


#order-head-notes table td:nth-child(3) { /* CONTENITORE URGENT */

	/*background-color:red;*/
	text-align: center;
	width: 70%
}

/*TABELLA INTERNA */

#order-head-notes table tr td table { /*TABELLA INTERNA */
	/*background-color: #000;*/
	width: 100%;
}

#order-head-notes table tr td table tr:nth-of-type(even){
	/*background-color: #0F0;*/
}

#order-head-notes table tr td table tr td:nth-child(1) { /* PRIMA COLONNA TABELLA INTERNA */
	/*background-color: #0FF;*/
	width: 35%;

	 
}

#order-head-notes table tr td table tr td:nth-child(2) { /* SECONDA COLONNA TABELLA INTERNA */
	/*background-color: #F76450;*/
	width: 150px
}

#urgent {
	/*background-color:red;*/
}

.thickBorder {
	border-top:1px solid #000;
	
}

.thickBorder > td {
	padding-top: 12px!important;
	border-top:1px solid #CCC!important;
}

.totalItem{
	border-top: 3px double #dddddd !important;
	font-weight: 500;
}

/**************************************/
/**************************************/
/**************************************/
/*** RIGA RELATIVA AL TAGLIA COLORI ***/
/**************************************/
/**************************************/
/**************************************/
.sizeColorRow {
	height: 1px;

}

.sizeColorIconContainer {
	/*background-color: blue;*/
	height: 100%;
}

.sizeColorIcon {
	margin-left: 0px;
	margin-top: 16px;
}

.sizeColorList {
	list-style-type: none;
}
/*.sizeColorElement:nth-child(2) {
	float:left;
	margin-top: 16px;
	margin-left: 30px;
	background-color: red;
}*/

.sizeColorElement {
	float:left;
	margin-top: 16px;
	margin-left: 30px;
	width: 200px;
	/*background-color: red;*/
	/*border-right:1px solid #000;*/
	/*background-color: yellow;*/


}

.sizeColorIconContainer {
	float:left;
	/*background-color: blue;*/
}


.baseQuantity{
	font-size: 13px;
}


span.small, small{
	font-size: 12px;
}

table thead > tr th{
	text-transform: uppercase;
	font-size: 10px;
	border-bottom: 0px !important;
	border-top:0px !important;
	padding-top: 0px !important; 
	padding-bottom: 0px !important;
}

th.headprice{
	border-bottom: 2px solid #dddddd;
}

.leftborder{
	border-left: 1px solid #ddd;
}


hr{

	margin-top: 10px;
	margin-bottom: 10px;
}


address{
	margin-bottom: 0px;
}