<div class="col-md-12 alert alert-info">
	{{getFixedWord('USER_REGISTRATION_DATA_FOR')}}: {{userData.username}}
</div>
<ng-form class="form-horizontal css-form" id="dataForm" name="dataForm" novalidate role="form" crud-edit="userData">
	<!-- username -->
	<div class="form-group">
		<label class="control-label col-md-2">{{getFixedWord('USER_USERNAME')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge focused" type="text" name="username" ng-model="userData.username" required unique-username>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.username.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
			<span class="label label-danger" ng-show="dataForm.username.$error.unique">
				{{getFixedWord('USER_USERNAME_NOT_AVAILABLE')}}
			</span>
		</div>
	</div>
	<div class="form-group" for-functionality="users.allow_notes">
		<label class="control-label col-md-2">Annotazioni:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="firstName" ng-model="userData.notes">
		</div>
	</div>
	<!-- user type -->
        <div class="form-group">
        	<label class="control-label col-md-2">{{getFixedWord('USER_USER_TYPE')}}:</label>
		<div class="controls col-md-5">
			<select id="ctlUserType" name="user_type" class="form-control" ng-model="userData.user_type" required>
				<option value="private">{{getFixedWord('USER_PRIVATE')}}</option>
				<option value="company">{{getFixedWord('USER_COMPANY')}}</option>
			</select>
            </div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.user_type.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
		</div>
        </div>
        <!-- first name -->
       	<div class="form-group" ng-if="userData.user_type == 'private'">
   		<label class="control-label col-md-2">{{getFixedWord('USER_FIRST_NAME')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="firstName" ng-model="userData.first_name" required>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.firstName.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
		</div>
	</div>
	<!-- last name -->
	<div class="form-group" ng-if="userData.user_type == 'private'">
   		<label class="control-label col-md-2">{{getFixedWord('USER_LAST_NAME')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="lastName" ng-model="userData.last_name" required>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.lastName.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
		</div>
	</div>
	<!-- company name -->
	<div class="form-group" ng-if="userData.user_type == 'company'">
   		<label class="control-label col-md-2">{{getFixedWord('USER_COMPANY_NAME')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="name" ng-model="userData.company_name" required>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.name.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
		</div>
	</div>
	<!-- address -->
	<div class="form-group">
		<label class="control-label col-md-2">{{getFixedWord('GENERAL_ADDRESS')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="address" ng-model="userData.address">
		</div>
	</div>
	<!-- city -->
	<div class="form-group">
		<label class="control-label col-md-2">{{getFixedWord('GENERAL_CITY')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="city" ng-model="userData.city">
		</div>
	</div>
	<!-- state -->
	<div class="form-group">
		<label class="control-label col-md-2">{{getFixedWord('GENERAL_COUNTRY')}}:</label>
		<div class="controls col-md-5">
			<select style="width:100%" ui-select2 ng-model="userData.country">
        <option ng-repeat="d in lists.getCountry()| orderBy:'name'" value="{{d.code}}">{{d.name}}</option>
      </select>
		</div>
	</div>
	<!-- phone -->
	<div class="form-group">
		<label class="control-label col-md-2">{{getFixedWord('USER_PHONE')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="phone" ng-model="userData.phone">
		</div>
	</div>
	<!-- company email -->
	<div class="form-group" ng-if="userData.user_type == 'company'">
		<label class="control-label col-md-2">{{getFixedWord('USER_COMPANY_MAIL')}}:</label>
		<div class="controls col-md-5">
			<input 
				class="form-control input-xlarge" 
				name="email" type="text" ng-model="userData.company_email" required>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.email.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
			<span class="label label-warning" ng-show="dataForm.email.$error.email">{{getFixedWord('USER_INVALID_MAIL')}}</span>
		</div>
	</div>
	<!-- personal email -->
	<div class="form-group" ng-if="userData.user_type == 'private'">
		<label class="control-label col-md-2">{{getFixedWord('USER_PERSONAL_MAIL')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" name="email" type="text" ng-model="userData.email" required>
		</div>
		<div class="col-md-5">
			<span class="label label-danger" ng-show="dataForm.email.$error.required">
				{{getFixedWord('GENERAL_REQUIRED')}}
			</span>
			<span class="label label-warning" ng-show="dataForm.email.$error.email">{{getFixedWord('USER_INVALID_MAIL')}}</span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2">Email di default:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" name="default_email" type="text" ng-model="userData.default_email">
		</div>
		<div class="col-md-5">
			<span class="label label-warning" ng-show="dataForm.default_email.$error.email">{{getFixedWord('USER_INVALID_MAIL')}}</span>
		</div>
	</div>
	<!-- role on company -->
	<div class="form-group" ng-if="userData.user_type == 'company'">
   	<label class="control-label col-md-2">{{getFixedWord('USER_COMPANY_ROLE')}}:</label>
		<div class="controls col-md-5">
			<select style="width:100%" ui-select2 data-placeholder="{{getFixedWord('USER_SELECT_ROLE')}}"
					ng-model="userData.role_on_company">
        <option ng-repeat="f in lists.getCompanyRole()" value="{{f.code}}">{{f.name}}</option>
      </select>
		</div>
	</div>
	<!-- tax code -->
	<div class="form-group" ng-if="userData.user_type == 'private'">
		<label class="control-label col-md-2">{{getFixedWord('USER_TAX_CODE')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="tax_code" ng-model="userData.tax_code">
		</div>
	</div>
	<!-- vat code -->
	<div class="form-group" ng-if="userData.user_type == 'company'">
		<label class="control-label col-md-2">{{getFixedWord('USER_VAT_CODE')}}:</label>
		<div class="controls col-md-5">
			<input class="form-control input-xlarge" type="text" name="vat_code" ng-model="userData.vat_code">
		</div>
	</div>
</ng-form>	