<div class="box">	
	<!-- header -->
	<div class="box-header">
		<h2 ng-if="!isNewItem"><i class="fa fa-list-alt"></i>{{getFixedWord('BANNER_EDIT_SLIDE')}}</strong></h2>
		<h2 ng-if="isNewItem"><i class="fa fa-list-alt"></i>{{getFixedWord('BANNER_NEW_SLIDE')}}</h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
	<!-- contents -->
	<form name="mainForm" class="form-horizontal" crud-edit="item" novalidate>
		<div class="box-content">		
			<fieldset>
				<!-- preview -->
				<div class="form-group">				
			 		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_PREVIEW')}}:</label>
					<div class="col-sm-8">
						<a href="#" data-toggle="modal" data-target="#imagePreview">
							<img class="preview-image" ng-src="{{item.image.indexOf('http') >= 0?item.image:firm.base_url+ item.image}}" ng-if="item.image != null && item.image.length > 0">
						</a>
					</div>
				</div>
				<!-- replace image -->
				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_REPLACE_IMAGE')}}:</label>
					<div class="col-sm-8">
					  <div dropzone configuration="dropzoneConfig"></div>
					</div>
				</div>
				<!-- preview -->
				<div class="form-group">				
					<label class="col-sm-2 control-label">{{getFixedWord('SLIDE_ALTERNATIVE_FILE')}} - {{getFixedWord('GENERAL_PREVIEW')}}:</label>
					<div class="col-sm-8">
						<a href="#" data-toggle="modal" data-target="#imagePreview">
							<img class="preview-image" ng-src="{{item.alternative_file.indexOf('http') >= 0?item.alternative_file:firm.base_url+ item.alternative_file}}" ng-if="item.alternative_file != null && item.alternative_file.length > 0">
						</a>
					</div>
				</div>
				<!-- Alternative file link -->
				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('SLIDE_ALTERNATIVE_FILE')}}:</label>
					<div class="col-sm-8">
					  <div dropzone configuration="dropzoneAlternativeFileConfig"></div>
					</div>
				</div>
				<!-- slide background -->
<!-- 				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('BANNER_SLIDE_BACKGROUND')}}:</label>
					<div class=" col-sm-10">						
						<div class="input-group color ">
							<span class="input-group-addon"><i class="fa fa-tint"></i></span>
							<input colorpicker="hex" type="text" class="form-control" ng-model="item.background" />
						</div>
					</div>
				</div> -->
				<!-- text color -->
<!-- 				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_TEXT_COLOR')}}:</label>
					<div class=" col-sm-10">						
						<div class="input-group color ">
							<span class="input-group-addon"><i class="fa fa-tint"></i></span>
							<input colorpicker="hex" type="text" class="form-control" ng-model="item.text_color" />
						</div>
					</div>
				</div> -->
				<!-- image alignment -->
<!-- 				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('BANNER_IMAGE_ALIGNMENT')}}:</label>
					<div class="col-sm-10">
            <select ui-select2 
                    style="width:200px"
                    ng-model="item.image_alignment">
              <option ng-repeat="a in alignments" value="{{a.val}}">
                {{a.text}}
              </option>
            </select>
          </div>
				</div> -->	
				<!-- text alignment -->
<!-- 				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('BANNER_TEXT_ALIGNMENT')}}:</label>
					<div class="col-sm-10">
            <select ui-select2 
                    style="width:200px"
                    ng-model="item.text_alignment">
              <option ng-repeat="a in textAlignments" value="{{a.val}}">
                {{a.text}}
              </option>
            </select>
          </div>
				</div> -->
				<!-- slide position -->
				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('BANNER_SLIDE_POSITION')}}:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control input-xlarge" ng-model="item.position">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('BANNER_SLIDE_HREF', 'Link slide')}}:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control input-xlarge" ng-model="item.slide_href">
					</div>
				</div>
				<!-- text -->
				<div class="form-group">			
	     		<label class="col-sm-2 control-label" for="text">{{getFixedWord('GENERAL_TEXT')}}:</label>
					<div class="col-sm-10">
						<table class="table table-bordered table-striped table-condensed translations">
							<thead>
								<tr>
									<th style="width:100px;" class="text-center">{{getFixedWord('GENERAL_CULTURE')}}</th>
									<th>{{getFixedWord('GENERAL_VALUE')}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="c in cultures">
									<td class="text-center"><i ng-class="getCultureFlag(c.culture_code)" ng-if="c.culture_code != 'BASE'"></i>{{c.culture_code}}</td>
									<td>
										<div class="col-sm-12">
											<textarea id="text" name="text"	class="col-md-12"	rows="5"
												ng-model="item.text[getTextKey(c.culture_code)]" data-ck-editor>
											</textarea>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</fieldset>
		</div>
		<!-- azioni -->
		<div class="form-actions">
			<button class="btn btn-primary" ng-click="customSave()" ng-disabled="mainForm.$invalid">
				<i class="fa fa-save"></i> {{getApplyButtonText()}}
			</button>		
			<button class="btn btn-default" ng-click="cancel()">
				<i class="fa fa-times"></i> {{getFixedWord('GENERAL_CANCEL')}}
			</button>
			<button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteWarning" ng-if="!isNewItem">
				<i class="fa fa-trash-o"></i>
			</button>
			<div class="modal fade in" id="deleteWarning" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">{{getFixedWord('BANNER_DELETE_SLIDE')}}</h4>
						</div>
						<div class="modal-body">
							<p>{{getFixedWord('BANNER_DELETE_SLIDE_MSG')}}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{{getFixedWord('GENERAL_CANCEL')}}</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="remove()">
								{{getFixedWord('GENERAL_DELETE')}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>