<span ng-if="currentAvailability() && fctBuyInterface.currentItem.priceDetail.productInfo.stockBehaviour != 0" 
			style="display: inline-block; margin-top: 4px">
	<span ng-show="!notAvailable()">
		{{getFixedWord('GENERAL_AVAILABILITY','Availaibility')}}: 
		<span class="stock-available" ng-show="fctBuyInterface.currentItem.priceDetail.productInfo.stockQuantity <= 20">
			{{getStockQuantityString(fctBuyInterface.currentItem.priceDetail.productInfo.stockQuantity)}}
		</span>
		<span class="stock-available" ng-show="fctBuyInterface.currentItem.priceDetail.productInfo.stockQuantity > 20">
			> 20 {{fctBuyInterface.currentItem.priceDetail.umCode}}
		</span>
	</span>
	
	<span style="margin-left: 10px" ng-show="incomingAvailability()"> {{getFixedWord('GENERAL_ARRIVING','Incoming')}}: 
		<span class="stock-incoming">{{getStockQuantityString(fctBuyInterface.currentItem.priceDetail.productInfo.stockIncomingQuantity)}} </span>
	</span>
</span>

<span ng-if="!currentAvailability()" style="display: inline-block; margin-top: 4px">
	<span ng-show="incomingAvailability()"> {{getFixedWord('GENERAL_ARRIVING','Incoming')}}: 
		<span class="stock-incoming">{{getStockQuantityString(fctBuyInterface.currentItem.priceDetail.productInfo.stockIncomingQuantity)}} </span>
	</span>
</span>

<span ng-show="notAvailable()"> {{getFixedWord('GENERAL_AVAILABILITY','Availaibility')}}: 
	<span class="stock-not-available"> <i class="fa fa-warning"></i> {{getFixedWord('GENERAL_NOT_AVAILABLE','Not available')}}</span>
</span>

<a data-content="true" data-html="true" ng-show="!noArrivalsCheck() && incomingAvailabilityForDetail()" data-toggle="popover" data-placement="bottom" data-template="stock.timeline.popover.html" 
	bs-popover rmpopovers class="stock-check-button" ng-click="$event.stopPropagation();">
  {{getFixedWord('GENERAL_CHECK_ARRIVALS','Controlla arrivi')}}
</a>