<div class="login-box"> 
    <h2>{{getFixedWord('USER_NOTIF_SIGNUP_SELF_NOT_ACTIVE')}}</h2>

    <p ng-if="status == 'expired'">
        Autenticazione fallita. Controlla le credenziali inserite e riprova!
    </p>

    <p ng-if="status == 'to_confirm'">
        <span ng-if="!mailSent">{{getFixedWord('USER_NOTIF_SIGNUP_STATUS_TO_CONFIRM')}}</span>
        <input class="input-large col-xs-12" name="host_name" id="host_name" ng-if="!mailSent" type="text" placeholder="Nome postazione" 
        ng-model="user.host_name" autocomplete="off"/>
        <div style="text-align: center;">
            <button class="btn btn-primary" ng-click="requireCertification()" ng-if="!mailSent" ng-disabled="!user.host_name">
                {{getFixedWord('GENERAL_CERTIFY')}}
            </button>
            <p ng-if="mailSent">La richiesta è stata inviata. Riceverai a breve una mail di conferma.</p>
        </div>
    </p>
    <hr/>

    <form class="form-horizontal"  method="post">
        <fieldset>
            <a class="btn btn-default col-xs-12" ng-href="/login">
                <i class="fa fa-sign-in"></i> {{getFixedWord('GENERAL_CLOSE')}}
            </a>
        </fieldset> 
    </form>

    <hr/>

    <p class="support">
      {{getFixedWord('GENERAL_NEED_HELP')}} <a href="/supportRequest">{{getFixedWord('GENERAL_CONTACT_SUPPORT')}}</a>
    </p>
</div>