<div class="login-box"> 
    <img alt="Home" src="/static/themes/front/img/firm_logo_public.png" class="site-logo img-responsive">

    <h2>{{getFixedWord('GENERAL_LOG_IN_HEADER')}}</h2>

    <div ng-class="['alert', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()">
        {{notification.message}}
    </div>

    <div class="alert alert-warning" ng-show="authReason">
        {{authReason}}
    </div>
    <div class="alert alert-danger" ng-show="authError">
        {{authError}}
    </div>

    <form class="form-horizontal"  method="post">
        <fieldset>
            <input class="input-large col-xs-12" name="username" id="username" type="text" placeholder="{{getFixedWord('GENERAL_USERNAME')}}" 
                    ng-model="user.username" autocomplete="off"/>

            <input class="input-large col-xs-12" name="password" id="password" type="password" placeholder="{{getFixedWord('GENERAL_PASSWORD')}}" 
                    ng-model="user.password" />

            <div class="clearfix"></div>
            
            <label class="checkbox inline remember" for="remember_me">
                <input type="checkbox" id="remember_me" name="remember_me" ng-model="user.remember_me" />
                {{getFixedWord('GENERAL_REMEMBER_ME')}}
            </label>

            <div class="clearfix"></div>
            
            <button type="submit" class="btn btn-primary col-xs-12" ng-click="login()" ng-disabled='form.$invalid || disableDoubleClick'>
                <i class="fa fa-sign-in"></i> {{getFixedWord('GENERAL_LOG_IN')}}
            </button>
        </fieldset> 
    </form>

    <hr>

    <h3>{{getFixedWord('GENERAL_FORGOTTEN_PASSWORD')}}</h3>
    
    <p>
        {{getFixedWord('GENERAL_NP')}}, <a href="/forgotpassword">{{getFixedWord('GENERAL_CLICK_HERE')}}</a> {{getFixedWord('GENERAL_TO_GET_NEW_PSW')}}!
    </p>    
    <p>
        <a  ng-click="goTo('/gastaldi_policy')" href="#">Informativa privacy e policy</a>
    </p>
</div>