<div class="doc_date_list" ng-class="{'animated-hide': fctDocuments.loadingList, 'animated-show' : !fctDocuments.loadingList}"
    infinite-scroll-common infinite-scroll='fctDocuments.nextPage()'  
    infinite-scroll-disabled='fctDocuments.loadingData' infinite-scroll-distance='0'> <!-- infinite-scroll-container="'#document_list_container'"  -->
  <div class="documents-date_group" 
  ng-repeat="(dateG, docs) in fctDocuments.list | orderBy:'document_date':true | groupBy:'document_date' | toArray:true">
    <div class="date_group">
      {{docs[0].document_date | date:format:'EEEE, MMMM d, yyyy'}}
    </div>
    <div class="documents">
      <div class="documents_list" 
            ng-repeat="d in docs | orderBy:'document_date_with_hours':true"
            ng-class="{'locked': (d.is_open == 0 || d.is_locked == 1), 'normal': (d.is_open != 0 && d.is_locked == 0)}"
            ng-click="openDocument(d)"
            style="cursor:pointer; {{(d.documenttype_color?'border-left: solid ' + d.documenttype_color + ' 3px;':'')}}">

        <div class="new_document" style="background-color: darkcyan;" ng-if="d.was_read != 1"> 
          {{getFixedWord('GENERAL_NEWITEM', 'Nuovo')}} 
        </div>

        <div class="document_icon">
          <div class="document_icon_image">
            <div class="document_icon_text" style="background-color:{{d.icon_style.color}}; color:{{d.icon_style.fontColor}}">
              {{d.documenttype_code}}
            </div>
          </div> 
        </div>

        <div class="document_number">
          {{d.document_number}}
        </div>

        <div class="customer">
          <div class="document_list_head_label">{{getFixedWord('DOCUMENT_CUSTOMER', 'Customer')}}: </div>
          <div class="value">{{d.customer_data.company_name}} <span class="label label-info" ng-if="d.local_customer_code">{{d.local_customer_code}}</span></div>
        </div>

        <div class="status">
          <div ng-class="{'document_list_head_label_dos': (d.customer_data.customer_id != d.shipping_customer_data.customer_id) || !d.shipping_customer_data}">
            {{getFixedWord('DOCUMENT_STATUS', 'Stato documento')}}: <span class="value">{{d.state_description}}</span>
          </div>

          <div class="no-margin" ng-if="(d.customer_data.customer_id != d.shipping_customer_data.customer_id) || !d.shipping_customer_data">
            {{getFixedWord('DOCUMENT_SHIPPING_CUSTOMER_L', 'Cliente spedizione')}}: 
            <span class="value" ng-if="d.shipping_customer_data">{{d.shipping_customer_data.company_name}}</span>
            <span class="value" ng-if="!d.shipping_customer_data && d.shipping_address_data">{{d.shipping_address_data.address_name}}</span>
            <span class="value" ng-if="d.shipping_address_data.city">{{d.shipping_address_data.city}}</span>
          </div>
        </div>

        <div class="document_totals">
          <div class="rows" ng-if="d.document_rows_number == 1">
            <span class="rows_number">{{d.document_rows_number}}</span> 
            <span class="rows_number_label">{{getFixedWord('DOCUMENT_ROW', 'Row')}}</span>
          </div>
          <div class="rows" ng-if="d.document_rows_number != 1">
            <span class="rows_number">{{d.document_rows_number}}</span> 
            <span class="rows_number_label">{{getFixedWord('DOCUMENT_ROWS', 'Rows')}}</span>
          </div>
          <div class="total" ng-hide="d.is_self_referential">
            <span class="total_value">{{formatMoney(d.total_with_vat, d.currency_format_string)}}</span>
          </div>
        </div> 

        <div class="agent">
          <div class="no-margin">
            {{getFixedWord('DOCUMENT_AGENT', 'Agent')}}: 
            <span class="value">{{d.agent_name}}</span>
          </div>
          <div class="no-margin">
            {{getFixedWord('DOCUMENT_CREATOR', 'Creatore')}}: 
            <span class="value">
              <span ng-show="d.user_description != '' && d.user_description != ' '"> {{d.user_description}} </span> 
              <span ng-show="d.user_description == '' || d.user_description == ' '"> {{d.username}} </span> 
            </span>
          </div>
        </div>

        <div ng-show="getSettingBooleanValue('show_document_date_hours')" class="document_hour">
          <div class="document_list_head_label">Ora:</div>
          <div class="value">{{dateByFormat(d.document_date_with_hours, "HH:mm")}}</div>
        </div>
  
        <!--
        <div class="document_summary_html" ng-if="d.summary && d.summary != ''" ng-bind-html="d.summary | trustAsHtml">
        </div>
        
        <div class="lock_icon" ng-if="d.is_locked == 1">
          <img src="/static/img/public_document/doc_lock.png"/>
        </div>
      -->
      </div>
    </div>
  </div>

  <div class="loading-container" ng-show='fctDocuments.loadingData'>
    <div class="text-center clearfix"> 
      <div class="loading-message-icon">
        <span class="fa fa-spinner fa-spin"></span>
      </div>
      <div class="loading-message">
          <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
      </div>
    </div>
  </div>
</div>