<div class="product-table table-responsive">
    <table class="table table-bordered table-striped table-hover no-margin" infinite-scroll-common
        infinite-scroll='nextPage(listTag, paging, payload)' infinite-scroll-disabled='paging.loadingData' 
        infinite-scroll-distance='0' infinite-scroll-container="container">
        <thead>
            <tr>
                <th></th>
                <th>Articolo</th>
                <th class="text-center">Disp.</th>
                <th class="text-center">€</th>
                <th class="text-center">Sc1 %</th>
                <th class="text-center">Sc2 %</th>
                <th class="text-center">Prz Netto</th>
                <th class="text-center text-danger"><strong>Promo</strong></th>
                <th class="text-center">PFU</th>
                <!--
                <th class="text-center"><img src="/static/images/gastaldi-fuel.gif"/></th>
                <th class="text-center"><img src="/static/images/gastaldi-rain.gif"/></th>
                <th class="text-center"><img src="/static/images/gastaldi-decibel.gif"/></th>
                <th class="text-center"><img src="/static/images/gastaldi-sound.gif"/></th>
                -->
                <th class="text-center"><i class="fa fa-shopping-cart text-info"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in list = getCurrentList(listTag)">
                <td class="text-center">
                    <img ng-src="{{product.brand_image || 'image-error'}}" class="img-responsive" fallback-placeholder="{{product.id}}"/>
                    <span id="{{product.id}}-img-placeholder" style="display: none">{{product.brand}}</span>
                </td>
                <td>{{product.name}}</td>
                <td class="text-center">
                    <span ng-show="product.stockQuantity > 0">
                        {{ product.stockQuantity ? (product.stockQuantity <= 20 ? product.stockQuantity : "> 20") : '-' }}
                    </span>
                    <span ng-show="product.stockQuantity <= 0"> - </span>
                </td>
                <td class="text-center" style="white-space: nowrap;">
                    <span ng-show="product.public_price >= product.price">
                        <span ng-show="product.public_price > 0">{{formatMoney(product.public_price, product.currency_format_string)}}</span>
                        <span ng-show="product.public_price <= 0">-</span>
                    </span>
                    <span ng-show="product.public_price < product.price">
                        <span ng-show="product.price > 0">{{formatMoney(product.price, product.currency_format_string)}}</span>
                        <span ng-show="product.price <= 0">-</span>
                    </span>
                </td>
                <td class="text-center">
                    <span ng-show="product.discount1 > 0">{{formatNumber(product.discount1,0,',','.')}}</span>
                    <span ng-show="product.discount1 <= 0">-</span>
                </td>
                <td class="text-center">
                    <span ng-show="product.discount2 > 0">{{formatNumber(product.discount2,0,',','.')}}</span>
                    <span ng-show="product.discount2 <= 0">-</span>
                </td>
                <td class="text-center">
                    <span ng-show="product.public_price > product.price">{{formatMoney(product.price, product.currency_format_string)}}</span>
                    <span ng-show="product.public_price <= product.price">-</span>
                </td>
                <td class="text-center"  style="white-space: nowrap;">
                    <span class="label label-danger" style="font-size: 100%!important" ng-show="product.promoPrice != product.price">
                        {{formatMoney(product.promoPrice, product.currency_format_string)}}
                    </span>
                    <span ng-show="product.promoPrice == product.price">-</span>
                </td>
                <td class="text-center">
                    <span style="white-space: nowrap;" ng-show="product.disposalPrice && product.disposalPrice > 0">
                        {{formatMoney(product.disposalPrice, product.currency_format_string)}}
                    </span>
                    <span ng-show="!product.disposalPrice || product.disposalPrice == 0">-</span>
                </td>
                <!--
                <td class="text-center"><img ng-src="{{getIcon(product.commercial_data[0].efficienza)}}"/></td>
                <td class="text-center"><img ng-src="{{getIcon(product.commercial_data[0].aderenza)}}"/></td>
                <td class="text-center">
                    <img ng-src="{{getIcon(product.commercial_data[0].rumorosita)}}"/>
                </td>
                <td class="text-center">{{product.commercial_data[0].emissione}}</td>
                -->
                <td class="text-center">
                    <button class="btn btn-sm btn-primary" ng-click="setSelectedProduct(product)">
                        <i class="fa fa-shopping-cart"></i> Dettagli
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="loading-container" ng-show='paging.loadingData'>
        <div class="text-center clearfix"> 
            <div class="loading-message-icon">
                <span class="fa fa-spinner fa-spin"></span>
            </div>
            <div class="loading-message">
                  <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
            </div>
        </div>
    </div>
</div>