<style>
    .grey{
        background-color: #F8F8F8;
    }
    td.product-img img{
        max-width: 50px;
        max-height: 50px;
    }

    .product-table table tbody tr{
        border: 1px solid #E3E3E3;
        border-left: 0px;
        border-right: 0px;
    }

    .product-table table tr td{
        padding: 10px 0px;
    }

    .product-table table thead{
        height: 70px;
        vertical-align: top;
    }

    .product-table table thead th{
     padding-top: 10px;
    }

    .product-table table th.grey {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product-table table th, .product-table table td {
        font-size: 12pt;
    }
    .brand-img img{
        max-height: 50px;
    }
    .brand-img{
        /*padding-left: 15px!important;*/
        padding-right: 15px!important;
    }

    .promo-label {
        background-color: #ed5463;
    }

    .promo-label>span:first-child{
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 9pt;
        margin-bottom: 5px;
    }
    .promo-label>span:last-child>span,
    .discount>span>span {
        font-size: 10pt;
    }

    td .price .has-promo{
        text-decoration: line-through;
    }

    thead{
        position: sticky;
        top: 0;
        background-color: white;
    }
</style>
<div class="product-table table-responsive">
    <table class="table-hover no-margin" style="width: 100%;" infinite-scroll-common
        infinite-scroll='nextPage(listTag, paging, payload)' infinite-scroll-disabled='paging.loadingData' 
        infinite-scroll-distance='0' infinite-scroll-container="container">
        <thead>
            <tr>
                <!--
                    Img marchio
                    Img prodotto
                    Caratteristiche (sole/pioggia)
                    nome prodotto
                    disponibilità
                    listino
                    promo
                    extra
                    Prezzo netto
                    PFU
                    Aggiungi al carrello
                -->
                <th></th><!--img marchio-->
                <th></th><!--img prodotto-->
                <th></th><!--caratteristiche-->
                <th style="width: 40%;"></th><!--nome prodotto-->
                <th class="text-center grey">Disponibilità</th>
                <th class="text-center">Listino</th>
                <th class="text-center grey">Promo</th>
                <th class="text-center">Extra</th>
                <th class="text-center grey">Prezzo Netto</th>
                <th class="text-center">PFU</th>
                <th class="text-center grey">Aggiungi al carrello</th><!--<i class="fa fa-shopping-cart text-info"></i>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in list = getCurrentList(listTag)">
                <td class="text-center brand-img"><!--img marchio-->
                    <img ng-src="{{product.brand_image || 'image-error'}}" title="{{product.brand}}" class="img-responsive" fallback-placeholder="{{product.id}}"/>
                </td>
                <td class="text-center product-img" style="cursor:pointer;"><!--img prodotto-->
                    <img ng-click="openProductImage(product)" style="cursor: pointer;" ng-src="{{product.image || 'image-error'}}" title="{{product.name}}" class="img-responsive" fallback-placeholder="{{product.id}}"/>
                </td>
                <td>
                    <span ng-if="product.tyre[0].estivo"><img style="max-width: 35px;" src="/static/images/ico-summer.png"/></span>
                    <span ng-if="product.tyre[0].invernale"><img style="max-width: 35px;" src="/static/images/ico-winter.png"/></span>
                    <span ng-if="product.tyre[0].quattro_st"><img style="max-width: 35px;" src="/static/images/ico-sum-win.png"/></span>
                </td><!--caratteristiche-->
                <td ng-click="openProductDetail(product)" style="cursor: pointer;">{{product.name}}</td><!--nome prodotto-->
                <td class="text-center grey"><!--disponibilità-->
                    <span ng-show="product.stock_quantity > 0">
                        {{ product.stock_quantity ? (product.stock_quantity <= 20 ? (product.stock_quantity|number:0) : "> 20") : '-' }}
                    </span>
                    <span ng-show="!product.stock_quantity"> - </span>
                </td>
                <td class="text-center" style="white-space: nowrap;"><!--listino-->
                    <span class="price"><!--ng-show="product.public_price >= product.price"-->
                        <span ng-class="{'has-promo': product.promo_price}" ng-show="product.price > 0">{{formatMoney(product.price, product.currency_format_string)}}</span>
                        <span ng-show="product.price <= 0">-</span>
                    </span>
                    <!--<span ng-show="product.public_price < product.price">
                        <span ng-show="product.price > 0">{{formatMoney(product.price, product.currency_format_string)}}</span>
                        <span ng-show="product.price <= 0">-</span>
                    </span>-->
                </td>
                <td class="text-center grey"  style="white-space: nowrap;"><!--promo-->
                    <span class="label promo-label" ng-if="product.promo_price"
                     style="font-size: 100%!important;display: inline-block; height: 40px;">
                        <span>Promo</span>
                        <span>{{formatMoney(product.promo_price, '#,##0.00')}} <span>€</span></span>
                    </span>
                </td>
                <td class="text-center"><!--extra-->
                    <span class="discount" ng-show="product.discount1 > 0">{{formatNumber(product.discount1,0,',','.')}} <span>%</span></span>
                    <span ng-show="product.discount1 <= 0">-</span>
                    <span class="discount" ng-show="product.discount2 > 0">{{formatNumber(product.discount2,0,',','.')}} <span>%</span></span>
                    <!--<span ng-show="product.discount2 <= 0">-</span>-->
                </td>
                <td class="text-center grey"><!--prezzo netto-->
                    <span ng-if="product.net_price && !product.promo_price">{{formatMoney(product.net_price, product.currency_format_string)}}</span>
                    <span ng-if="product.promo_price">{{formatMoney(product.promo_price, product.currency_format_string)}}</span>
                    <span ng-if="!product.net_price && !product.promo_price">-</span>
                    <!--<span ng-show="product.public_price > product.price">{{formatMoney(product.net_price, product.currency_format_string)}}</span>
                    <span ng-show="product.public_price <= product.price">-</span>-->
                </td>

                <td class="text-center"><!--pfu-->
                    <span style="white-space: nowrap;" ng-show="product.disposal_price && product.disposal_price > 0">
                        {{formatMoney(product.disposal_price, product.currency_format_string)}}
                    </span>
                    <span ng-show="!product.disposal_price || product.disposal_price == 0">-</span>
                </td>
                <td class="text-center grey">
                    <button class="btn btn-sm btn-primary" ng-click="setSelectedProduct(product)" style="font-size:15pt; padding: 0px 4px;">
                        <i class="fa fa-shopping-cart" style="font-size:15pt"></i> +
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="loading-container" ng-show='paging.loadingData'>
        <div class="text-center clearfix"> 
            <div class="loading-message-icon">
                <span class="fa fa-spinner fa-spin"></span>
            </div>
            <div class="loading-message">
                  <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
            </div>
        </div>
    </div>
</div>