<div id="productModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dettaglio prodotto {{fctHomeFactory.selectedProduct.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        
                        <div class="product-image-container">
                            <img id="product-image" fallback-src="/static/img/publicsite/product_placeholder.jpg"  
                                ng-src="{{currentImage.image}}" class="img-responsive product-image" 
                                alt="{{fctHomeFactory.selectedProduct.name}}" title="{{fctHomeFactory.selectedProduct.name}}"/>
                        </div>

                        <div id="additional-gallery" class="additional-images-grid" 
                            ng-if="fctHomeFactory.selectedProduct.extra.additionalimages && fctHomeFactory.selectedProduct.extra.additionalimages.length > 0">
                          <div class="additional-image-box" ng-show="checkProductImageVisibility()" ng-if="hasImage(fctHomeFactory.selectedProduct)">
                            <a href="#" ng-click="resetCurrentImage()" class="elevatezoom-gallery image-container">
                              <img ng-src="{{getProductImage(fctHomeFactory.selectedProduct)}}" class="additional-image">
                            </a>
                          </div>

                          <div class="additional-image-box" ng-repeat="i in fctHomeFactory.selectedProduct.extra.additionalimages" 
                                ng-show="checkAdditionalImageVisibility(i)" additional-last-repeat>
                            <a href="#" ng-click="setCurrentImage(i)" class="elevatezoom-gallery image-container">
                              <img ng-src="{{i.image}}" fallback-src="{{i.zoom_image}}" class="additional-image">
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <p>{{fctHomeFactory.selectedProduct.name}}</p>
                        <button class="btn btn-primary" ng-click="fctBuyInterface.selectCurrentItem(fctHomeFactory.selectedProduct)">
                            <i class="fa fa-shopping-cart"></i> Acquista
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="info" class="col-xs-12 table-responsive">
                        <table class="table table-striped no-margin">
                            <thead>
                                <tr>
                                    <th>Caratteristica</th>
                                    <th>Valore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Marca</td>
                                    <td>
                                        <img ng-if="fctHomeFactory.selectedProduct.brand_image" ng-src="{{fctHomeFactory.selectedProduct.brand_image || 'image-error'}}" class="brand-image"/>
                                        <span ng-if="!fctHomeFactory.selectedProduct.brand_image">{{fctHomeFactory.selectedProduct.brand}}</span>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>Disponibilità</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.stockQuantity > 0">
                                            {{ fctHomeFactory.selectedProduct.stockQuantity ? (fctHomeFactory.selectedProduct.stockQuantity <= 20 ? fctHomeFactory.selectedProduct.stockQuantity : "> 20") : '-' }}
                                        </span>
                                         <span ng-show="fctHomeFactory.selectedProduct.stockQuantity <= 0"> - </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Listino</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.public_price >= fctHomeFactory.selectedProduct.price">
                                            <span ng-show="fctHomeFactory.selectedProduct.public_price > 0">
                                                {{formatMoney(fctHomeFactory.selectedProduct.public_price, fctHomeFactory.selectedProduct.currency_format_string)}}
                                            </span>
                                            <span ng-show="fctHomeFactory.selectedProduct.public_price <= 0">-</span>
                                        </span>
                                        <span ng-show="fctHomeFactory.selectedProduct.public_price < fctHomeFactory.selectedProduct.price">
                                            <span ng-show="fctHomeFactory.selectedProduct.price > 0">
                                                {{formatMoney(fctHomeFactory.selectedProduct.price, fctHomeFactory.selectedProduct.currency_format_string)}}
                                            </span>
                                            <span ng-show="fctHomeFactory.selectedProduct.price <= 0">-</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sconto 1</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.discount1 > 0">{{formatNumber(fctHomeFactory.selectedProduct.discount1,0,',','.')}}</span>
                                        <span ng-show="fctHomeFactory.selectedProduct.discount1 <= 0">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sconto 2</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.discount2 > 0">{{formatNumber(fctHomeFactory.selectedProduct.discount2,0,',','.')}}</span>
                                        <span ng-show="fctHomeFactory.selectedProduct.discount2 <= 0">-</span>
                                   </td>
                                </tr>
                                <tr>
                                    <td>Prezzo netto</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.public_price > fctHomeFactory.selectedProduct.price">
                                            {{formatMoney(fctHomeFactory.selectedProduct.price, fctHomeFactory.selectedProduct.currency_format_string)}}
                                        </span>
                                        <span ng-show="fctHomeFactory.selectedProduct.public_price <= fctHomeFactory.selectedProduct.price">-</span>
                                    </td>
                                </tr>
                                <tr class="text-danger">
                                    <td>Promo</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.promoPrice != fctHomeFactory.selectedProduct.price">{{formatMoney(fctHomeFactory.selectedProduct.promoPrice, fctHomeFactory.selectedProduct.currency_format_string)}}</span>
                                        <span ng-show="fctHomeFactory.selectedProduct.promoPrice == fctHomeFactory.selectedProduct.price">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Contributo PFU</td>
                                    <td>
                                        <span ng-show="fctHomeFactory.selectedProduct.disposalPrice && fctHomeFactory.selectedProduct.disposalPrice > 0">
                                            {{formatMoney(fctHomeFactory.selectedProduct.disposalPrice, fctHomeFactory.selectedProduct.currency_format_string)}}
                                        </span>
                                        <span ng-show="!fctHomeFactory.selectedProduct.disposalPrice || fctHomeFactory.selectedProduct.disposalPrice == 0">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{getFixedWord('GASTALDI_PRICE_WITH_VAT', 'Prezzo Ivato')}}</strong></td>
                                    <td>
                                        <strong ng-show="fctHomeFactory.selectedProduct.netTotalPriceWithVAT && fctHomeFactory.selectedProduct.netTotalPriceWithVAT > 0">
                                            {{formatMoney(fctHomeFactory.selectedProduct.netTotalPriceWithVAT, fctHomeFactory.selectedProduct.currency_format_string)}}
                                        </strong>
                                        <span ng-show="!fctHomeFactory.selectedProduct.netTotalPriceWithVAT || fctHomeFactory.selectedProduct.netTotalPriceWithVAT == 0">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/static/images/gastaldi-fuel.gif"/></td>
                                    <td>
                                        <img style="max-height:24px" ng-if="fctHomeFactory.selectedProduct.commercial_data[0].efficienza != null"
                                            ng-src="{{getIcon(fctHomeFactory.selectedProduct.commercial_data[0].efficienza, 'consumo')}}"/>
                                        <span ng-if="fctHomeFactory.selectedProduct.commercial_data[0].efficienza == null">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/static/images/gastaldi-rain.gif"/></td>
                                    <td>
                                        <img style="max-height:24px"  ng-if="fctHomeFactory.selectedProduct.commercial_data[0].aderenza != null"
                                            ng-src="{{getIcon(fctHomeFactory.selectedProduct.commercial_data[0].aderenza, 'aderenza')}}"/>
                                        <span ng-if="fctHomeFactory.selectedProduct.commercial_data[0].aderenza == null">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/static/images/gastaldi-decibel.gif"/></td>
                                    <td>
                                        <img ng-if="fctHomeFactory.selectedProduct.commercial_data[0].rumorosita != null"
                                            ng-src="{{getIcon(fctHomeFactory.selectedProduct.commercial_data[0].rumorosita)}}"/>
                                        <span ng-if="fctHomeFactory.selectedProduct.commercial_data[0].rumorosita == null">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="/static/images/gastaldi-sound.gif"/></td>
                                    <td>{{fctHomeFactory.selectedProduct.commercial_data[0].emissione || '-'}}</td>
                                </tr>
                                 <tr>
                                    <td>3PMSF</td>
                                    <td>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_3pmsf != null"><img style="max-height: 25px;" src="/static/images/3PMSF.png"/></span>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_3pmsf == null">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ICE-GHIACCIO</td>
                                    <td>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_resbatt != null"><img style="max-height: 25px;" src="/static/images/ICE-ghiaccio.png"/></span>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_resbatt == null">-</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NOTE</td>
                                    <td>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_note != null"><a href="{{fctHomeFactory.selectedProduct.tyre[0].p_note}}" target="_blank">{{fctHomeFactory.selectedProduct.tyre[0].p_note}}</a></span>
                                        <span ng-if="fctHomeFactory.selectedProduct.tyre[0].p_note == null">-</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                <!--
                <a class="btn btn-success" ng-href="/{{logged_user.user.url_culture}}/cart">
                    <i class="fa fa-check"></i> Concludi ordine
                </a>
                -->
            </div>
        </div>
    </div>
</div>

<div id="productImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <span ng-click="closeProductImage()" style="float:right;"><i class="fa fa-times-circle-o" style="font-size: 20pt;color: red;"></i></span>
            </div>
            <div class="modal-body" style="
                        min-height: 400px;
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        justify-items: center;">
                <div class="product-image-container" style="width: 100%; border:none">
                    <img id="product-image" fallback-src="/static/img/publicsite/product_placeholder.jpg"  
                        style="max-width: 100%;"
                        ng-src="{{currentImage.zoom_image}}" class="img-responsive product-image" 
                        alt="{{fctHomeFactory.selectedProduct.name}}" title="{{fctHomeFactory.selectedProduct.name}}"/>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    #productDetailModal .head{
        display: grid;
        grid-template-columns: 100px auto;
        column-gap: 30px;
        align-items: center;
        margin-bottom:30px;
        margin-left: 15px;
    }

    #productDetailModal .head .name{
        font-size: 20pt;
    }

    #productDetailModal .tag{
        width: 50px;
        padding-right: 0.5em;
        color: white;
        float: left;
        clear: left;
        margin: 0.1em;
        clip-path: polygon( 0% 0%, calc(100% - 0.6em) 0%, 100% 50%, calc(100% - 0.6em) 100%, 0% 100%);
        font-size: 13pt;
        padding-left: 5px;
    }

    .efficienza-A{
        background-color: #4AA25A;
    }
    .efficienza-B{
        background-color: #A3C755;
    }
    .efficienza-C{
        background-color: #FDF050;
    }
    .efficienza-D{
        background-color: #F5BC44;
    }
    .efficienza-E{
        background-color: #DB3832;
    }


    .aderenza-A{
        background-color: #2765AB;
    }
    .aderenza-B{
        background-color: #3580C2;
    }
    .aderenza-C{
        background-color: #5FA7D8;
    }
    .aderenza-D{
        background-color: #86BFE7;
    }
    .aderenza-E{
        background-color: #B5DEF6;
    }

    #productDetailModal .data table tr td:nth-child(1){
        width: 50%;
        padding-left: 15px;
    }
    #productDetailModal .data table tr td:nth-child(2){
        width: 50%;
    }
    
    #productDetailModal .data table tr td{
        font-size: 16px;
        border: 0px;
        height: 45px;
        vertical-align: middle;
    }

    #productDetailModal .data table .promo td{
        color: #EB2726;
    }

    #productDetailModal .data table tr:nth-child(odd) > td{
        background-color: #F7F7F7;
    }

    #productDetailModal .data table .brand-image{
        max-width: 100%;
    }
    #productDetailModal .data table .icon{
        max-width: 20px;
        max-height: 20px;
    }    
    .div-tag{
        filter: drop-shadow(2px 2px 2px);
    }
</style>

<div id="productDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <span ng-click="closeProductDetail()" style="float:right;"><i class="fa fa-times-circle-o" style="font-size: 20pt;color: red;"></i></span>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <div class="head">
                    <div class="">
                        <img id="" fallback-src="/static/img/publicsite/product_placeholder.jpg"  
                            ng-src="{{currentProduct.image}}" class="img-responsive product-image" 
                            style="max-height: 120px;"
                            ng-click="openProductImage(currentProduct)"
                            alt="{{currentProduct.name}}" title="{{currentProduct.name}}"/>
                    </div>
                    <div class="name">{{currentProduct.name}}</div>
                </div>
                <div class="data">
                    <table class="table table-striped no-margin">
                        <tbody>
                            <tr>
                                <td>Marca</td>
                                <td>
                                    <img ng-if="currentProduct.brand_image" style="max-height: 40px;" ng-src="{{currentProduct.brand_image || 'image-error'}}" class="brand-image"/>
                                    <span ng-if="!currentProduct.brand_image">{{currentProduct.brand}}</span>
                                </td>
                            </tr> 
                            <tr>
                                <td>Disponibilità</td>
                                <td>
                                    <span ng-show="currentProduct.stock_quantity > 0">
                                        {{ currentProduct.stock_quantity ? (currentProduct.stock_quantity <= 20 ? (currentProduct.stock_quantity|number:0) : "> 20") : '-' }}
                                    </span>
                                        <span ng-show="currentProduct.stock_quantity <= 0"> - </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Listino</td>
                                <td>
                                    <span class="price"><!--ng-show="product.public_price >= product.price"-->
                                        <span ng-class="{'has-promo': currentProduct.promo_price}" ng-show="currentProduct.price > 0">{{formatMoney(currentProduct.price, currentProduct.currency_format_string)}}</span>
                                        <span ng-show="currentProduct.price <= 0">-</span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="promo">
                                <td>Promo</td>
                                <td>
                                    <span ng-show="currentProduct.promo_price"><span>{{formatMoney(currentProduct.promo_price, '#,##0.00')}} <span>€</span></span></span>
                                    <span ng-show="!currentProduct.promo_price">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Extra</td>
                                <td>
                                    <span ng-show="currentProduct.discount1 > 0">{{formatNumber(product.discount1,0,',','.')}} <span>%</span></span>
                                    <span ng-show="currentProduct.discount1 <= 0">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Prezzo netto</td>
                                <td>
                                    <span ng-if="currentProduct.net_price && !currentProduct.promo_price">{{formatMoney(currentProduct.net_price, currentProduct.currency_format_string)}}</span>
                                    <span ng-if="currentProduct.promo_price">{{formatMoney(currentProduct.promo_price, currentProduct.currency_format_string)}}</span>
                                    <span ng-if="!currentProduct.net_price && !currentProduct.promo_price">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Contributo PFU</td>
                                <td>
                                    <span style="white-space: nowrap;" ng-show="currentProduct.disposal_price && currentProduct.disposal_price > 0">
                                        {{formatMoney(currentProduct.disposal_price, currentProduct.currency_format_string)}}
                                    </span>
                                    <span ng-show="!currentProduct.disposal_price || currentProduct.disposal_price == 0">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>{{getFixedWord('GASTALDI_PRICE_WITH_VAT', 'Prezzo Ivato')}}</strong></td>
                                <td>
                                    <span ng-if="loadingPrices"><i class="fa fa-spin fa-spinner"></i></span>
                                    <strong ng-if="!loadingPrices" ng-show="fctHomeFactory.selectedProduct.netTotalPriceWithVAT && fctHomeFactory.selectedProduct.netTotalPriceWithVAT > 0">
                                        {{formatMoney(fctHomeFactory.selectedProduct.netTotalPriceWithVAT, fctHomeFactory.selectedProduct.currency_format_string)}}
                                    </strong>
                                    <span ng-if="!loadingPrices" ng-show="!fctHomeFactory.selectedProduct.netTotalPriceWithVAT || fctHomeFactory.selectedProduct.netTotalPriceWithVAT == 0">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="icon" src="/static/images/Icona-fuel.png"/></td>
                                <td>
                                    <!--<img 
                                        style="max-height:24px" 
                                        ng-if="currentProduct.commercial_data[0].efficienza != null"
                                        ng-src="{{getIcon(currentProduct.commercial_data[0].efficienza, 'consumo')}}"/>-->
                                    <div class="div-tag" ng-if="currentProduct.commercial_data[0].efficienza != null" >
                                        <span class="tag efficienza efficienza-{{currentProduct.commercial_data[0].efficienza}}">{{currentProduct.commercial_data[0].efficienza}}</span>
                                    </div>
                                    <span ng-if="currentProduct.commercial_data[0].efficienza == null">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="icon" src="/static/images/Icona-rain.png"/></td>
                                <td>
                                    <!--<img style="max-height:24px"  ng-if="currentProduct.commercial_data[0].aderenza != null"
                                        ng-src="{{getIcon(currentProduct.commercial_data[0].aderenza, 'aderenza')}}"/>-->
                                    <div class="div-tag" ng-if="currentProduct.commercial_data[0].aderenza != null" >
                                        <span class="tag aderenza aderenza-{{currentProduct.commercial_data[0].aderenza}}">{{currentProduct.commercial_data[0].aderenza}}</span>
                                    </div>
                                    <span ng-if="currentProduct.commercial_data[0].aderenza == null">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="icon" src="/static/images/Icona-noise.png"/></td>
                                <td>
                                    <img ng-if="currentProduct.commercial_data[0].rumorosita != null"
                                        ng-src="{{getIcon(currentProduct.commercial_data[0].rumorosita)}}"/>
                                    <span ng-if="currentProduct.commercial_data[0].rumorosita == null">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="icon" src="/static/images/Icona-silent.png"/></td>
                                <td>{{currentProduct.commercial_data[0].emissione || '-'}}</td>
                            </tr>
                                <tr>
                                <td>3PMSF</td>
                                <td>
                                    <span ng-if="currentProduct.tyre[0].p_3pmsf != null"><img style="max-height: 25px;" src="/static/images/3PMSF.png"/></span>
                                    <span ng-if="currentProduct.tyre[0].p_3pmsf == null">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>ICE-GHIACCIO</td>
                                <td>
                                    <span ng-if="currentProduct.tyre[0].p_resbatt != null"><img style="max-height: 25px;" src="/static/images/ICE-ghiaccio.png"/></span>
                                    <span ng-if="currentProduct.tyre[0].p_resbatt == null">-</span>
                                </td>
                            </tr>
                            <tr>
                                <td>NOTE</td>
                                <td>
                                    <span ng-if="currentProduct.tyre[0].p_note != null"><a href="{{currentProduct.tyre[0].p_note}}" target="_blank">{{currentProduct.tyre[0].p_note}}</a></span>
                                    <span ng-if="currentProduct.tyre[0].p_note == null">-</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
                <!--
                <a class="btn btn-success" ng-href="/{{logged_user.user.url_culture}}/cart">
                    <i class="fa fa-check"></i> Concludi ordine
                </a>
                -->
            </div>
        </div>
    </div>
</div>