<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="size">Cerca misure:</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="model.size" placeholder="215, ecc...">
        </div>
    </div> 
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label col-sm-2" for="brand">Marca:</label>
            <div class="col-sm-10"> 
                <select ng-model="model.facets.brand" ui-select2 required placeholder="Scegli un'opzione...">
                    <option ng-repeat="facet in formFacets.brands.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
                </select> 
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label col-sm-2" for="type">Genere:</label>
            <div class="col-sm-10"> 
                <select ng-model="model.facets.genre" ui-select2 required placeholder="Scegli un'opzione...">
                    <option ng-repeat="facet in formFacets.genre.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
                </select> 
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label col-sm-2" for="sector">Settore:</label>
            <div class="col-sm-10"> 
                <select ng-model="model.facets.sector" ui-select2 required placeholder="Scegli un'opzione...">
                    <option ng-repeat="facet in formFacets.sector.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
                </select> 
            </div>
        </div>                            
    </div>  
    <div class="form-group col-xs-12">
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.promo.facet_id}}" ng-model="model.facets.promo">{{formFacets.promo.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.reinforced.facet_id}}" ng-model="model.facets.reinforced">{{formFacets.reinforced.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.flap.facet_id}}" ng-model="model.facets.flap">{{formFacets.flap.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.run_on_flat.facet_id}}" ng-model="model.facets.run_on_flat">{{formFacets.run_on_flat.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.seasonal.facet_id}}" ng-model="model.facets.seasonal">{{formFacets.seasonal.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.summer.facet_id}}" ng-model="model.facets.summer">{{formFacets.summer.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.winter.facet_id}}" ng-model="model.facets.winter">{{formFacets.winter.facet_text}}</label>
        <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.wheel.facet_id}}" ng-model="model.facets.wheel">{{formFacets.wheel.facet_text}}</label>
    </div>    
</form>