<div class="box no-margin">	
	<!-- header -->
	<div class="box-header">
		<h2>
			<i class="fa fa-eye"></i> {{getFixedWord('VL_USER_EDIT', 'Editor lista di visibilità per ')}} 
			<span ng-show="item.user_id"> <strong>{{item.username}}</strong> (Utente) </span>
			<span ng-show="item.group_id"> <strong>{{item.group_description}} </strong> (Gruppo utenti) </span>
		</h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
	<!-- contents -->
	<form name="mainForm" class="form-horizontal box-content editForm" novalidate>		
		<div class="box-content">
			<div class="form-group">
        <label class="control-label col-sm-2" for="size">Inclusivo:</label>
        <div class="col-sm-10">
        	<label class="switch switch-success">
  					<input type="checkbox" class="switch-input" ng-model="item.inclusive">
						<span class="switch-label" data-on="{{getFixedWord('GENERAL_YES')}}" data-off="{{getFixedWord('GENERAL_NO')}}"></span>
						<span class="switch-handle"></span>
					</label>
        </div>
	    </div>
			<fieldset>
				<legend style="font-size: 15px"><span class="fa fa-filter"></span> Filtro</legend>
				<div class="form-group">
	        <label class="control-label col-sm-2" for="size">Ricerca libera:</label>
	        <div class="col-sm-10">
	        	<input type="text" class="form-control" ng-model="model.size" placeholder="...">
	        </div>
		    </div> 

				<div class="form-group">
	        <label class="control-label col-sm-2" for="brand">Marca:</label>
	        <div class="col-sm-10">
	        	<select id="brand" name="brand" ng-model="model.facets.brand" ui-select2 required placeholder="-- Tutte le marche --" multiple>
              <option ng-repeat="facet in formFacets.brands.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
            </select> 
	        </div>
		    </div>

				<div class="form-group">
	        <label class="control-label col-sm-2" for="type">Genere:</label>
	        <div class="col-sm-10">
            <select id="type" name="type" ng-model="model.facets.genre" ui-select2 required placeholder="-- Tutti i generi --" multiple>
              <option ng-repeat="facet in formFacets.genre.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
            </select> 
	        </div>
		    </div>

				<div class="form-group">
	        <label class="control-label col-sm-2" for="sector">Settore:</label>
	        <div class="col-sm-10">
            <select id="sector" name="sector" ng-model="model.facets.sector" ui-select2 required placeholder="-- Tutti i settori --" multiple>
              <option ng-repeat="facet in formFacets.sector.facets | orderBy: 'facet_value'" value="{{facet.facet_id}}">{{facet.facet_value}}</option>
            </select> 
	        </div>
		    </div>

		    <div class="form-group col-xs-12">
	        <label class="checkbox-inline" style="margin-left: 10px;">
	        	<input type="checkbox" id="{{formFacets.promo.facet_id}}" ng-model="model.facets.promo">{{formFacets.promo.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.reinforced.facet_id}}" ng-model="model.facets.reinforced">{{formFacets.reinforced.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.flap.facet_id}}" ng-model="model.facets.flap">{{formFacets.flap.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.run_on_flat.facet_id}}" ng-model="model.facets.run_on_flat">{{formFacets.run_on_flat.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.seasonal.facet_id}}" ng-model="model.facets.seasonal">{{formFacets.seasonal.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.summer.facet_id}}" ng-model="model.facets.summer">{{formFacets.summer.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.winter.facet_id}}" ng-model="model.facets.winter">{{formFacets.winter.facet_text}}
	        </label>
	        <label class="checkbox-inline">
	        	<input type="checkbox" id="{{formFacets.wheel.facet_id}}" ng-model="model.facets.wheel">{{formFacets.wheel.facet_text}}
	        </label>
		    </div>  
			</fieldset>

			<!-- <div id="products-container" class="search-table-container" ng-include="'visibility_list/products-preview.tpl.html'"></div> -->
	  </div>
		<!-- azioni -->
		<div class="form-actions">		  
			<button class="btn btn-primary" ng-click="confirmVisibilityRules()" ng-disabled="visibilityList.saving">
				<i class="fa" ng-class="{'fa-dot-circle-o': !visibilityList.saving, 'fa-spinner fa-spin': visibilityList.saving}"></i> 
				{{getFixedWord('GENERAL_CONFIRM')}}
			</button>

			<a ng-if="item.user_id" class="btn btn-default" ng-href="/admin/visibility_list/user_{{item.user_id}}" ng-disabled="visibilityList.saving">
				<i class="fa fa-times"></i> {{getFixedWord('GENERAL_CANCEL')}}
			</a>
			<a ng-if="item.user_id" class="btn btn-default" ng-href="/admin/users/{{item.user_id}}" ng-disabled="visibilityList.saving">
				<i class="fa fa-user"></i> {{getFixedWord('GENERAL_BACK_TO_USER', "Torna all'utente")}}
			</a>

			<a ng-if="item.group_id" class="btn btn-default" ng-href="/admin/visibility_list/group_{{item.group_id}}" ng-disabled="visibilityList.saving">
				<i class="fa fa-times"></i> {{getFixedWord('GENERAL_CANCEL')}}
			</a>
			<a ng-if="item.group_id" class="btn btn-default" ng-href="/admin/usergroup/{{item.group_id}}" ng-disabled="visibilityList.saving">
				<i class="fa fa-users"></i> {{getFixedWord('GENERAL_BACK_TO_USER', "Torna al gruppo utenti")}}
			</a>

    	<button class="btn btn-info" ng-click="onSubmit()" data-toggle="modal" data-target="#previewModal"
        		ng-disabled="!model.size && model.facets.brand.length == 0 && model.facets.genre.length == 0 && model.facets.sector.length == 0 || visibilityList.saving">
        <i class="fa fa-search"></i> Risultati filtro selezionato
      </button>

			<button ng-hide="isNew" type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteWarning" 
								ng-disabled="visibilityList.saving">
				<i class="fa fa-trash-o"></i> 
			</button>
			<div class="modal fade in" id="deleteWarning" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">{{getFixedWord('VL_DEL', 'Eliminazione regola di visibilità')}}</h4>
						</div>
						<div class="modal-body">
							<div>{{getFixedWord('VL_DEL_MSG', 'Vuoi veramente cancellare questa regola di visibilità?')}}</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"> 
								<span class="fa fa-times"></span> {{getFixedWord('GENERAL_CANCEL')}} 
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteVisibilityRule()"> 
								<span class="fa fa-dot-circle-o"></span> {{getFixedWord('GENERAL_CONFIRM')}} 
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="progress progress-striped active" ng-if="visibilityList.saving">
		    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
		    </div>
		  </div>
		  
		</div>
	</form>
</div>

<div class="modal fade in" id="previewModal" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">
					Prodotti tornati dal filtro selezionato 
					<span ng-hide="facets.paging.loadingData">(<strong>{{facets.paging.totalSize}} {{getFixedWord('GENERAL_RECORD', 'record')}}</strong>)</span>
				</h4>
			</div>
			<div class="modal-body">
				<div id="products-container" class="search-table-container" ng-include="'visibility_list/products-preview.tpl.html'"></div>
			</div>
			<div class="modal-footer no-margin">
				<button type="button" class="btn btn-primary" data-dismiss="modal"> 
					<span class="fa fa-check"></span> {{getFixedWord('GENERAL_OK')}} 
				</button>
			</div>
		</div>
	</div>
</div>
