<div class="box">	
	<!-- header -->
	<div class="box-header">
		<h2>
			<i class="fa fa-sort-amount-desc"></i> {{getFixedWord('CSR_LIST', 'Regole di Ordinamento Custom')}} 
		</h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
	<!-- contents -->
	<div class="box-content">				
    <div class="row nolistitem" ng-if="(!fctSortingRule.list || fctSortingRule.list.length == 0) && !fctSortingRule.loadingData">
      <div class="noimage"></div>
      <div class="noitemdesc">
        <span class="noitemdesc1"> {{getFixedWord('CCS_NOT_FOUND', 'Nessuna regola di ordinamento specifica!')}} </span>
      </div>
    </div>

    <div ng-if="fctSortingRule.list && fctSortingRule.list.length > 0">
  		<table class="table table-striped v-middle sortable" infinite-scroll-common infinite-scroll='fctSortingRule.nextPage()' 
            infinite-scroll-disabled='fctSortingRule.loadingData' infinite-scroll-distance='0'>
  			<thead>
  				<tr>								  	 
            <th class="table-edit-col"></th>
            <th class="table-edit-col"></th>
            <th class="table-edit-col"><i class="fa fa-sort-numeric-asc"></i></th>
            <th>{{getFixedWord('VL_SEARCH_TEXT', 'Ricerca libera')}}</th>
            <th>{{getFixedWord('VL_FILTER', 'Filtri applicati')}}</th>
            <th ng-hide="true"><!-- hidden col for id --></th>
					</tr>
  			</thead>   
  			<tbody>
  				<tr ng-repeat="rule in fctSortingRule.list" sortable-directive>
            <td class="text-center">
              <a class="btn btn-primary btn-sm" alt="{{getFixedWord('GENERAL_EDIT')}}" 
              		ng-href="/admin/catalog_sorting_rule/{{rule.catalog_sorting_rule_id}}">
                <i class="fa fa-edit"></i>
              </a>
            </td>
		  			<td class="center"><i class="fa fa-bars"></i></td>
						<td class="index">{{rule.order_id}}</td>
            <td>{{rule.search_text}}</td>
            <td>
            	<ul class="list-unstyled list-inline facet-logs no-padding no-margin">
	            	<li ng-repeat="filter in rule.filter_json | orderBy: '-sql_datatype' ">
	            		<span ng-if="filter.sql_datatype == 'boolean'" class="label label-warning">
		            		{{filter.facet_text}}
	            		</span>

	            		<span ng-if="filter.sql_datatype != 'boolean'">
		            		{{filter.facet_text}}: 
		            		<span ng-repeat="value in filter.facet_value" class="label label-primary list-facet-value">
			            		<i class="fa fa-check"></i> {{value}}
			            	</span>
	            		</span>
	            	</li>
	            </ul>
            </td>
            <td ng-hide="true" class="ruleID">{{rule.catalog_sorting_rule_id}}</td>
  				</tr>
  			</tbody>
  		</table>
  	</div>
	</div>
	<!-- azioni -->
	<div class="form-actions">
		<a class="btn btn-primary" ng-href="/admin/catalog_sorting_rule/new">
			<i class="fa fa-plus"></i> {{getFixedWord('GENERAL_CREATE_NEW')}}
		</a>

		<button ng-if="fctSortingRule.list && fctSortingRule.list.length > 0" 
					 class="btn btn-warning btn-delete" data-toggle="modal" data-target="#deleteWarning">
			<i class="fa fa-eraser"></i> {{getFixedWord('CCS_RESET', "Reset")}}
		</button>

		<div class="modal fade in" id="deleteWarning" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">{{getFixedWord('CCS_RESET_TITLE', 'Reset Regole di Ordinamento')}}</h4>
					</div>
					<div class="modal-body">
						<p>
							{{getFixedWord('CCS_RESET_MSG', "Eliminando tutte le regole i prodotti torneranno visibili con l'ordinamento standard.")}}
						</p>
						{{getFixedWord('GENERAL_TO_PROCEED', 'Procedere')}}?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"> 
							<span class="fa fa-times"></span> {{getFixedWord('GENERAL_CANCEL')}} 
						</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="resetSortingRule()"> 
							<span class="fa fa-dot-circle-o"></span> {{getFixedWord('GENERAL_CONFIRM')}} 
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>