<div class="box no-margin">	
    <div class="row nolistitem" ng-if="!reportsURL">
      <div class="noimage"></div>
      <div class="noitemdesc">
        <span class="noitemdesc1"> {{getFixedWord('QS_NO_REPORT_FOUND', 'Nessun report trovato')}} </span>
      </div>
    </div>

    <div ng-if="reportsURL"> 
      <iframe ng-src="{{reportsURL}}" class="quicksight-iframe"></iframe>
      <!-- <iframe ng-src="{{rawReportsURL}}" class="quicksight-iframe"></iframe> -->
    </div>
</div>