<style>
  .credit .remaining-negative{
    color:red;
  }
</style>
<div ng-controller="headerCtrl">
  <!-- BARRA NAVIGAZIONE -->
  <nav id="site-header" class="navbar navbar-default navbar-fixed-top no-padding navbar-header" role="navigation">
    <div id="lower-header" class="white-bg row">
      <div class="menu">
        <div class="col-xs-12" style="padding-right: 0px;" ng-class="{'col-md-5': logged_user.hasFunctionality('public.impersonate_customer'), 'col-md-6': !logged_user.hasFunctionality('public.impersonate_customer')}">
          <a ng-href="/{{logged_user.user.url_culture}}">
            <img alt="Home" src="/static/themes/front/img/firm_logo_public.png" class="site-logo img-responsive"/>
          </a>

          <div class="navbar-customer-selector division-navbar-selector" for-functionality="public.change_division" ng-hide="hideDivisionSelector || (!divisions || divisions.length <= 1)" >
            <div class="divisions-popover-block simple-list" ng-repeat="d in divisions" 
                ng-class="{'current': userDivisions.current.division_id == d.division_id}" ng-click="changeDivision(d.division_id, $event)">
              <strong> {{d.vl_name}} </strong>
              
              <div class="gastaldi-division-image" ng-show="d.division_code == 'GASTALDI'">
                <img class="pull-left" src="/static/themes/front/img/custom/header_service.jpg">
                <img class="pull-right" src="/static/themes/front/img/custom/header_service_truck.jpg">
              </div>
              <div class="gastaldi-division-image" ng-show="d.division_code == 'VDB'">
                <img src="/static/themes/front/img/custom/header_auto.jpg">
              </div>
            </div>
          </div> 

          <span class="navbar-customer-selector"  ng-hide="isCurrentSection('smw')">
            <a data-toggle="modal" data-target="#selectCurrentCustomer" 
              for-functionality="public.impersonate_customer"
              ng-click="fctAgentCustomer.initializedActiveCustomer = true"
              ng-class="{'selected-customer': logged_user.user.customer_id}">
              <img src="/static/img/public_customers/customer_icon.png">
              <div class="customer-selector" 
                ng-if="!logged_user.user.customer_id"><!--|| logged_user.user.customer_id == logged_user.user.default_customer_id-->
                {{getFixedWord('GENERAL_IMPERSONATE_CUSTOMER','Impersona Cliente')}}
            </div>
              <div class="customer-selector" ng-if="logged_user.user.customer_id">
              <!-- && logged_user.user.customer_id != logged_user.user.default_customer_id"-->
                {{getFixedWord('GENERAL_CUSTOMER','Cliente')}}: <br/>
                <!-- <strong># {{logged_user.user.customer_code}}</strong> -->
                <strong>{{logged_user.user.company_name}}</strong>
              </div>
            </a>
            <div class="customer-selector credit" ng-if="logged_user.user.customer_id && logged_user.user.credit.total" style="overflow: visible;"
              for-functionality="public.customer_view_credit">
              <div class="credit-label">Fido totale:</div><div class="credit-value" style="font-weight: bold;">{{formatMoney(logged_user.user.credit.total, logged_user.user.credit.format)}}</div>
              <div class="credit-label">Fido utilizzato:</div><div class="credit-value">{{formatMoney(logged_user.user.credit.computed, logged_user.user.credit.format)}} </div>
              <!--<div class="credit-label">Insoluto:</div><div class="credit-value">{{formatMoney(logged_user.user.credit.expired, logged_user.user.credit.format)}} </div>-->
              <div class="credit-label">Fido residuo:</div><div class="credit-value" ng-class="{'remaining-negative': +logged_user.user.credit.saldo < 0}">{{formatMoney(logged_user.user.credit.saldo, logged_user.user.credit.format)}} </div>
            </div>
          </span>

          <div class="navbar-reference-agent" for-functionality="public.show_agent_references" ng-if="logged_user.user.agents_references">
            <div class="reference-agent" ng-if="logged_user.user.agents_references.length == 1">
              <div>
                {{getFixedWord('GENERAL_REFERENCE_AGENT','Agente di zona')}}: 
                <strong>{{logged_user.user.agents_references[0].agent_name}} </strong>
              </div>
              <div>
                <strong>
                  <a href="mailto:{{logged_user.user.agents_references[0].email}}">
                    {{logged_user.user.agents_references[0].email}}
                  </a>
                </strong> 
                <span ng-show="logged_user.user.agents_references[0].cellular_phone || logged_user.user.agents_references[0].phone"> - </span>
                <strong>
                  <a href="tel:{{logged_user.user.agents_references[0].link_phone}}">
                    {{logged_user.user.agents_references[0].cellular_phone || logged_user.user.agents_references[0].phone}}
                  </a>
                </strong>
              </div>
            </div>

            <a data-toggle="modal" data-target="#agentsReferencesInfo" ng-if="logged_user.user.agents_references.length > 1">
              <div>
                {{getFixedWord('GENERAL_REFERENCE_AGENTS','Riferimenti agenti di zona')}}
              </div>
              <span ng-repeat="agent in logged_user.user.agents_references">
                <strong>{{agent.agent_name}}</strong> <span ng-show="!$last">, </span>
              </span>
            </a>
          </div>

          <div class="buttons-wrapper pull-right text-right">
            <ul id="mobile-nav" class="list-inline list-unstyled visible-xs visible-sm">
              <li ng-if="(isCurrentSection('list') && showCatalogueSidebarLeft()) || (isCurrentSection('detail') && headerDetailFacets)">
                <button class="left-sidebar-toggle visible-xs visible-sm" type="button">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
              </li>
              <li ng-if="isCurrentSection('list') || (isCurrentSection('detail') && productHasChildren)">
                <button class="visible-xs visible-sm" type="button"  ng-click="scrollToSearch()">
                  <i class="fa fa-search"></i>
                 </button>
              </li>
              <li ng-if="isCurrentSection('index')">
                <button class="right-sidebar-toggle visible-xs visible-sm" type="button">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
              </li>
              <li>
                <button data-target=".navbar-collapse" data-toggle="collapse" type="button">
                  <span class="sr-only">{{getFixedWord('NAVIGATION_MENU', 'Navigation menu')}}</span>
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
              </li>
            </ul> 
          </div>
        </div>
        <div class="col-xs-12" ng-class="{'col-md-7': logged_user.hasFunctionality('public.impersonate_customer'), 'col-md-6': !logged_user.hasFunctionality('public.impersonate_customer')}">
          <div class="row">
            <div class="col-xs-12">
              <!-- Dynamic menu -->
              <header-menu ng-if="menu && !isMenuLoading"></header-menu>
              <!-- Standard menu -->
              <div ng-if="!menu && !isMenuLoading" class="collapse navbar-collapse header header_right">
                <ul class="nav navbar-nav navbar-right">
                  <!-- Fast Search -->
                  <li class="dropdown" ng-hide="hideBrowsingButtons">
                    <a ng-href="/{{logged_user.user.url_culture}}/fast-search/{{divisionid || 1}}" 
                        ng-reload-href="/{{logged_user.user.url_culture}}/fast-search/{{divisionid || 1}}">
                      <span class='fa fa-search'></span> Ricerca Veloce
                    </a>
                  </li>
          
                  <!-- PRODUCTS -->
                  <li class="dropdown" for-functionality="public.catalog.access" ng-hide="hideBrowsingButtons">
                      <a ng-href="/{{logged_user.user.url_culture}}/divisions" ng-click="goToDivisions($event)">
                      <span class='fa fa-tags'></span> {{getFixedWord('GENERAL_CATALOG','Catalog')}}
                      </a>
                  </li>
          
                  <!-- CART -->
                  <li class="dropdown" for-functionality="public.cart.access" ng-hide="hideBrowsingButtons" ng-if="getSettingBooleanValue('cart.group_by_division')">
                    <a ng-href="/{{logged_user.user.url_culture}}/cart/{{divisionid}}"  target="{{logged_user.user.embedded ? '_self' : '_parent'}}">
                      <span class='fa fa-shopping-cart'></span> {{getFixedWord('CART_QUEUE','Cart')}}
                    </a>
                  </li>
                  <li class="dropdown" for-functionality="public.cart.access" ng-hide="hideBrowsingButtons" ng-if="!getSettingBooleanValue('cart.group_by_division')">
                    <a ng-href="/{{logged_user.user.url_culture}}/cart"  target="{{logged_user.user.embedded ? '_self' : '_parent'}}">
                      <span class='fa fa-shopping-cart'></span> {{getFixedWord('CART_QUEUE','Cart')}}
                    </a>
                  </li>
          
                  <!-- MY DOCUMENTS -->
                  <li class="dropdown" for-functionality="public.mydocuments.access"  ng-hide="hideBrowsingButtons">
                      <a ng-href="/{{logged_user.user.url_culture}}/mydocuments">
                      <span class='fa fa-files-o'></span> {{getFixedWord('MYDOCUMENTS_TITLE','My documents')}}
                      </a>
                  </li> 
          
                  <!-- SELLMORE WEB -->
                  <li class="dropdown" for-functionality="public.sellmoreweb.access"  ng-hide="hideBrowsingButtons">
                      <a ng-href="/{{logged_user.user.url_culture}}/documents">
                      <span class='fa fa-suitcase'></span> {{getFixedWord('HOMEPAGE_DOCUMENTS','Documents')}}
                      </a>
                  </li>

                  <!-- CHANGE LANG TOOLBAR -->
                  <li class="dropdown" ng-if="can_change_culture() && headerCultures.list.length > 1">
                      <a href="#" data-toggle="dropdown">{{getFixedWord('CHANGE_LANGUAGE', 'Change Language')}}
                      <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu lang-dropdown-menu">
                      <li ng-repeat="culture in headerCultures.list">
                          <a ng-click="change_culture(culture.culture_code, $event)" ng-href="{{get_new_culture_url(culture.culture_code)}}">
                          <i class='{{getCultureFlag(culture.culture_code)}}'></i> {{culture.culture_description}}
                          </a>
                      </li>
                      </ul>
                  </li>
          
                  <!-- LOGIN TOOLBAR DROPDOWN -->
                  <li class="dropdownn login text-center logged-user">
                    <a ng-show="isAuthenticated()" class="account dropdown-toggle" data-toggle="dropdown" href="#">
                    <div class="avatar"><gravatar email="currentUser.email" size="50" default-image="'mm'"></gravatar></div>
                    <div class="user">
                        <span class="hello">{{getFixedWord('WELCOME', 'Welcome!')}}</span>
                        <span class="name" href="#">{{currentUser.username}}</span>
                    </div>
                    </a>
                    <ul class="dropdown-menu">
                    <li class="dropdown-menu-title"></li>
                    <li>
                        <a ng-href="/{{logged_user.user.url_culture}}/userprofile">
                        <i class="fa fa-user" style="margin-right: 5px"></i> {{getFixedWord('USER_PROFILE')}}
                        </a>
                    </li>
                    <li for-functionality="backend.access">
                        <a href="/admin" ng-click="goToAdministration($event)"><i class="fa fa-user"></i> 
                        {{getFixedWord('GENERAL_ADMINISTRATION', 'Administration')}}
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> 
                        {{getFixedWord('GENERAL_LOG_OUT', 'Log out')}}
                        </a>
                    </li>
                    </ul>
        
                    <a ng-hide="isAuthenticated()" class="login" href="/login" 
                    ng-click="goToLogin($event)">
                    <i class="fa fa-sign-in"></i> {{getFixedWord('GENERAL_LOG_IN', 'Sign in')}}
                    </a>
                  </li>
                </ul>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div ng-if="isListPath" id="category-header" class="text-center hidden-print">
        <div class="legor-upper-menu-container" style="padding-top: 5px; padding-bottom: 5px;" ng-class="getDivisionCssClass()">
          {{categories.activeDivision.vl_name}} {{getCategoryName()}}
        </div>
      </div>
    </div>
  </nav>
  <div class="menu-container"></div>
</div> 

<!-- POPOVER DIVISIONS -->
<script type="text/ng-template" id="divisions.popover.html">
  <div class="popover divisions-popover dismissable-popovers" ng-show="true">
    <div class="arrow"></div>
      <div class="divisions-popover-content">
        <div class="divisions-popover-block" ng-repeat="d in divisions">
          <a ng-href="/{{logged_user.user.url_culture}}/division/{{d.division_id}}">
            <div ng-click="changeDivision(d.division_id, $event)" class="divisions-popover-image-container" ng-if="d.image && d.image.length > 0">
              <img ng-src="{{d.image}}"/>
            </div>
            <!-- <div ng-click="changeDivision(d.division_id, $event)" class="divisions-image-placeholder" ng-class="getBoxDivisionCssClass(d)" ng-if="!d.image || d.image.length == 0"></div>   -->
          </a>
          <a ng-click="changeDivision(d.division_id, $event)" ng-href="/{{logged_user.user.url_culture}}/fast-search/{{d.division_id}}">
            {{d.vl_name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</script> 