<fieldset ng-disabled="fctDocumentData.order.document_is_open != 1 || fctDocumentData.order.is_locked == 1">
    <div class="row document-section-title">
        {{getFixedWord('DOCUMENT_ANNOTATIONS', "Document's annotations")}} (Max 240 caratteri)
    </div>
    <div class="row document-section-body">
        <div class="col-md-4 annotation-public annotation" for-functionality="document.annotation.public">
            <div class="annotation-head document-box-header">
                {{getFixedWord('DOCUMENT_ANNOTATIONS_PUBLIC', "Public annotation")}}
            </div>
            <div class="annotation-value">
                <textarea rows = "5" ng-model="fctDocumentData.order.notes" maxlength="240"></textarea>
            </div>
        </div>

        <div class="col-md-4 annotation-agent annotation" for-functionality="document.annotation.agent">
            <div class="annotation-head document-box-header">
                {{getFixedWord('DOCUMENT_ANNOTATIONS_AGENT', "Private agent annotation")}}
            </div>
            <div class="annotation-value">
                <textarea rows = "5" ng-model="fctDocumentData.order.agent_notes" maxlength="240"></textarea>
            </div>
        </div>

        <div class="col-md-4 annotation-private annotation" for-functionality="document.annotation.private">
            <div class="annotation-head document-box-header">
                {{getFixedWord('DOCUMENT_ANNOTATIONS_FIRM', "Private firm annotation")}}
            </div>
            <div class="annotation-value">
                <textarea rows = "5" ng-model="fctDocumentData.order.private_notes" maxlength="240"></textarea>
            </div>
        </div>
    </div>
 </fieldset>