<div class="item clearfix" ng-init="item.collapsed = true">
    <div class="header" 
    ng-class="{'editItem': isOnEdit}"> 
        <table >
            <tr>
                <td>
                    <div class="node_left_tools_bar">
                        <div class="node_left_tool">
                            <a class="" ng-hide="item.parent_product_documentdetail_id">
                                <span class="ion-navicon"></span>
                            </a>
                        </div> 
                        <div class="node_left_tool collapse_tool">
                            <a class="collapse_button" nodrag ng-click="item.collapsed = !item.collapsed">
                                <span ng-class="{'ion-chevron-up': !item.collapsed, 'ion-chevron-down': item.collapsed}"></span>
                            </a>        
                        </div>
                    </div>
                    <div class="icon" nodrag ng-click="toggle(this)" id="product-{{item.id}}">
                        <div style="display: block" ng-if="!getSettingBooleanValue('document.hide_product_detail_link')"
                            data-toggle="popover" data-content="true" data-html="true" data-placement="right" 
                            data-template="product.popover.html" data-animation="am-fade" data-container="body"
                            bs-popover rmpopovers 
                            ng-click="loadProductPopover(item);">

                            <div class="order-image-mask" >
                                <i class="fa fa-plus"></i>
                                <svg id="svg-1" class="clip-svg" width="18" height="18">
                                    <rect class='svg-background' width="18" height="18"></rect>
                                </svg>
                            </div>

                    
                            <a class="product-popover product-popover-link" >
                                <img ng-src="{{item.product_data.image_url || '/static/img/publicsite/product_placeholder.jpg'}}" 
                                    onerror="$(this).hide()"/>
                            </a>  
                        </div>

                        <a ng-if="getSettingBooleanValue('document.hide_product_detail_link')">
                            <img ng-src="{{item.product_data.image_url || '/static/img/publicsite/product_placeholder.jpg'}}" 
                                onerror="$(this).hide()"/>
                        </a> 
                    </div>

                    <ul class="headCodes" ng-click="item.collapsed = !item.collapsed">
                        <li>
                            <span data-toggle="popover" data-html="true" data-placement="right" 
                                data-template="product.code-copy.popover.html" data-animation="am-fade" data-container="body"
                                bs-popover>{{item.code}} </span>
                            <span ng-if="(item.product_code_alias && item.product_code_alias != '')
                                       ||(item.custom_product_code_alias && item.custom_product_code_alias != '') ">
                                - <i class="sm-icon-ion-person" style="color:red"></i> 
                                {{(item.custom_product_code_alias && item.custom_product_code_alias != '')?item.custom_product_code_alias:item.product_code_alias}}
                            </span>                   
                        </li>
                        <!--<li ng-if="!item.product_data.description || item.product_data.description == ''">-->
                        <li ng-if="item.product_data.name && item.product_data.name !== ''">
                            <span data-toggle="popover" data-html="true" data-placement="right" 
                                data-template="product.name-copy.popover.html" data-animation="am-fade" data-container="body"
                                bs-popover>{{item.product_data.name}}</span>
                        </li>
                        <li class="productInfo">
                            <span ng-if="fctDocumentData.getProductDataSummary(item).conversionBase" 
                                    ng-bind-html="fctDocumentData.getProductDataSummary(item).conversionBase"></span> 
                            <span ng-if="fctDocumentData.getItemFormat(item)">
                                {{getFixedWord('GENERAL_FORMAT')}}: <strong>{{fctDocumentData.getItemFormat(item)}}</strong> <!-- TODO -->  
                            </span>  
                            <span ng-if="item.extra_description" ng-bind-html="item.extra_description"></span>             
                        </li>                     
                    </ul>
                </td>
                <td class="subtotal" ng-click="item.collapsed = !item.collapsed" >
                    <ul ng-if="!item.is_free && item.row_type != 10" 
                        ng-hide="fctDocumentData.order.is_self_referential && logged_user.hasFunctionality('hide.public_document.self_ref_prices')">
                        <li>{{getFixedWord('GENERAL_TOTAL')}}</li>
                        <li>
                            <strong>
                                {{formatMoney(fctDocumentData.getProductDataSummary(item).netTotalPriceBeforeDisposal, 
                                    (fctDocumentData.getProductDataSummary(item).currencyFormatString || fctDocumentData.order.currency_format_string))}}
                            </strong>
                        </li>  <!-- TODO -->
                        <li></li>  <!-- TODO -->
                        
                    </ul>
                    <ul ng-if="!item.is_free && item.row_type == 10" >
                        <li>{{getFixedWord('GENERAL_TOTAL')}}</li>
                        <li><strong>-</strong></li>  
                        <li></li> 

                        <li></li>                
                    </ul>
                    <ul class="quantity">
                        <li>{{getFixedWord('GENERAL_QUANTITY')}}</li>
                        <li>
                            <strong>{{fctDocumentData.getProductDataSummary(item).numberOfItems}}</strong> {{fctDocumentData.getProductDataSummary(item).umCode}} 
                            <span class="sell" alt="{{getFixedWord('GENERAL_SALE_QTY')}}" ng-if="!fctDocumentData.getProductDataSummary(item).is_free && item.row_type != 10" >
                                {{getFixedWord('GENERAL_SALE_S')}}
                            </span>
                            <span class="free" alt="{{getFixedWord('GENERAL_GIFT_QTY')}}" ng-if="fctDocumentData.getProductDataSummary(item).is_free || item.row_type == 10">
                                {{getFixedWord('GENERAL_GIFT_G')}}
                            </span>
                        </li>
                        <li ng-if="fctDocumentData.getProductDataSummary(item).freeQuantity > 0">
                            <strong>{{fctDocumentData.getProductDataSummary(item).freeQuantity}}</strong> 
                            {{fctDocumentData.getProductDataSummary(item).freeUmCode}} 
                            <span class="free" alt="{{getFixedWord('GENERAL_GIFT_QTY')}}">{{getFixedWord('GENERAL_GIFT_G')}}</span>
                        </li>
                    </ul>

                    <ul class="availability" 
                        ng-if="fctBuyInterface.considerateStock() && item.product_data && item.product_data.stock_behaviour != 0"
                        ng-include="'public_document/document-data/templates/product-stock-row.tpl.html'" >
                    </ul>
                </td>
            </tr>
        </table>
        
    </div>
    
    <div class="node_right_tools_bar pull-right" ng-if="isOnEdit">
        <div class="node_right_tool" style="margin-top:5px;">
            <a  data-toggle="modal" 
                data-target="#remove_entity"
                ng-click="askForRemoving(item)" ng-if="item.row_type != 10">
                <span class="fa fa-minus-circle" style="color: red"></span>
            </a>        
        </div>
    </div>

    <ol collapse="item.collapsed" ng-model="item.rows" 
        class="rows heightAnim" ng-class="{hidden: collapsed, 'editItem': isOnEdit}">
        <li ng-repeat="row in item.rows" ng-if="!row.is_free && item.row_type != 10"
            ng-include="'public_document/document-data/templates/rows_renderer.tpl.html'" 
            type="{{item.type}}" class="row"
            outline_number="{{row.outline_number}}">
        </li> 

        <li ng-repeat="row in item.rows" ng-if="item.row_type == 10"
            ng-include="'public_document/document-data/templates/MER_rows_renderer.tpl.html'" 
            type="{{item.type}}" class="row"
            outline_number="{{row.outline_number}}">
        </li>

        <li ng-repeat="row in item.rows" ng-if="row.is_free"
            ng-include="'public_document/document-data/templates/included_rows_renderer.tpl.html'" 
            type="{{item.type}}" class="row"
            outline_number="{{row.outline_number}}">
        </li>

        <li ng-repeat="(key, row) in fctDocumentData.getAttachments(item)" 
            ng-include="'public_document/document-data/templates/attachments_renderer.tpl.html'" 
            type="{{item.type}}" class="row">
        </li>

        <li ng-repeat="row in item.customAttachments" 
            ng-include="'public_document/document-data/templates/custom_attachments_renderer.tpl.html'" 
            class="row">
        </li>

        <li ng-if="item.product_data.is_kit == 1" 
            ng-include="'public_document/document-data/templates/kit_content_renderer.tpl.html'" 
            class="row">
        </li>

        <!--<li class="sep"></li>-->
    </ol>
</div>
