<!-- standard product stockquantity detail template-->
<span ng-if="currentAvailability(fctDocumentData.selectedItem)" 
		style="margin-right: 15px; margin-top: 7px; display: inline-block;">
	<span ng-if="fctDocumentData.selectedItem.priceDetail.productInfo.stockQuantity">
		{{getFixedWord('GENERAL_AVAILABILITY','Availaibility')}}: 
		<span class="stock-available" ng-show="fctDocumentData.selectedItem.priceDetail.productInfo.stockQuantity <= 20">
			{{getStockQuantityString(fctDocumentData.selectedItem, fctDocumentData.selectedItem.priceDetail.productInfo.stockQuantity)}} 
		</span>

		<span class="stock-available" ng-show="fctDocumentData.selectedItem.priceDetail.productInfo.stockQuantity > 20">
			> 20 {{fctDocumentData.selectedItem.priceDetail.umCode}}
		</span>
	</span>
	
	<span class="pull-right" style="margin-left: 20px"ng-show="incomingAvailability(fctDocumentData.selectedItem)"> 
		{{getFixedWord('GENERAL_ARRIVING','Incoming')}}: 
		<span class="stock-incoming">
			{{getStockQuantityString(fctDocumentData.selectedItem, fctDocumentData.selectedItem.priceDetail.productInfo.stockIncomingQuantity)}} 
		</span>
	</span>
</span>

<span ng-if="!currentAvailability(fctDocumentData.selectedItem) && incomingAvailability(fctDocumentData.selectedItem)" 
		style="margin-right: 15px; margin-top: 7px; display: inline-block;">
	<span ng-show="incomingAvailability(fctDocumentData.selectedItem)"> {{getFixedWord('GENERAL_ARRIVING','Incoming')}}: 
		<span class="stock-incoming">
			{{getStockQuantityString(fctDocumentData.selectedItem, fctDocumentData.selectedItem.priceDetail.productInfo.stockIncomingQuantity)}} 
		</span>
	</span>
</span>

<span ng-show="notAvailable(fctDocumentData.selectedItem)" style="margin-right: 15px; margin-top: 7px; display: inline-block;"> 
	{{getFixedWord('GENERAL_AVAILABILITY','Availaibility')}}: 
	<span class="stock-not-available"> 
		{{getFixedWord('GENERAL_NOT_AVAILABLE','Not available')}}
	</span>
</span>