<style type="text/css">
	.invoice-report {
		font-size: 12px!important;
		padding: 20px;
    background: #fff;
    border-radius: 3px;
	}

	.invoice-report div.row {
		margin-left: -15px!important;
		margin-right: -15px!important;
	}

	.invoice-report > header .invoice-logo {
    max-height: 50px;
	}
	.invoice-report > header .invoice-logo.on-report {
    max-height: 90px;
	}

	.invoice-body {
		margin-top: 5px;
	}
	.invoice-body.on-report {
		margin-top: 0px;
	}


	.fs-larger {
		font-size: 15px;
	}

	.fw-semi-bold {
		font-weight: 600;
	}

	.text-muted {
		color: #999;
	}

	.invoice-items-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .invoice-items-table > tbody > tr > td{
  	vertical-align: middle!important;
  }

  div.row.paragraph {
  	margin: 0 0 10px;
  }

  span.iban {
  	border-bottom: 1px solid #DDD;
  	font-size: 13px;
  }

  .imgContainer {
  	display: inline-block;
  	max-height: 44px;
  	width: 44px;
  	margin-right: 6px;
  }

  .imgContainer > img {
  	max-width: 100%;
  	max-height: 44px;
  }
  .vdb-alert {
    background-color: #FFEB3B;
    border-color: #FFC107;
    color: #E91E63;
    font-size: 13px;
    font-weight: bold;
	}

	.pre-documenttype{
		color: red!important;
	}
</style>

<div class="row no-margin" ng-controller="orderReportCtrl">
	<div class="col-md-12 no-padding">
		<section class="invoice-report">
			<header>
				<div class="row">
					<div class="col-sm-6 col-print-6" ng-if="document.documenttype_code != 'ON'">
						<img ng-src="/static/themes/front/img/firm_logo_public.png" alt="Logo" class="invoice-logo">
					</div>
					<div class="col-sm-6 col-print-6" ng-if="document.documenttype_code == 'ON'">
						<img ng-src="/static/themes/front/img/ON_report_logo.jpg" alt="Logo" class="invoice-logo on-report">
					</div>

					<div class="col-sm-6 col-print-6">
						<h3 class="text-right">
							<span class="fw-semi-bold">{{document.document_number}}</span> / <small>{{document.document_date}}</small>
						</h3>

						<div class="text-muted fs-larger text-right" ng-class="{'pre-documenttype': document.documenttype_code == 'PRE'}">
							{{document.document_type}}
							<!-- {{getFixedWord('REPORT_ORDER_TITLE', 'Ordine Cliente')}} -->
						</div>
					</div>
				</div>
			</header>

			<div class="invoice-body" ng-class="{'on-report': document.documenttype_code == 'ON'}">
				<div class="row">
					<section class="col-sm-12 col-print-6" ng-if="document.documenttype_code != 'ON'">
						<h5 class="no-margin">GASTALDI GOMME SERVICE SRL</h5>
						<address>
							Via Europa, 7/9 - 26030 - Tornata (CR) <br>
							Tel. 331/1904480 – Fax 0375/977098 <br>
							P.IVA: 0148509019 <br>
			    	</address>
					</section>
					<section class="col-sm-12 col-print-6" ng-if="document.documenttype_code == 'ON'">
						<h5 class="no-margin">GASTALDI SERVICE SRL</h5>
						<address>
							Via Europa, 7/9 - 26030 - Tornata (CR) <br>
							Tel. 0375/97682 – Fax 0375/977098 <br>
							P.IVA: 01864670201 <br>
			    	</address>
					</section>

					<section class="col-sm-6 col-print-6">
						<h4 class="text-muted no-margin no-padding">{{getFixedWord('REPORT_DEAR', 'Spettabile')}}</h4>
						<h3 class="company-name">{{document.billing.address_name}}</h3>

						<address>
				      {{document.billing.address}}<br>
				      {{document.billing.zip_code}} {{document.billing.city}} {{document.shipment.province}}<br>			
						</address>
					</section>

					<section class="col-sm-6 col-print-6 text-right">
						<h4 class="text-muted no-margin no-padding">{{getFixedWord('REPORT_DELIVER_TO', 'Consegnare a')}}</h4>
						<h3 class="client-name">{{document.shipment.address_name}}</h3>
						<address>
							{{document.shipment.address}}<br>
							{{document.shipment.zip_code}} {{document.shipment.city}} {{document.shipment.province}}<br>	

							<abbr title="Work Phone" ng-if="document.shipment.phone">{{getFixedWord('GENERAL_PHONE', 'Telefono')}}:</abbr> {{document.shipment.phone}}<br>
							<abbr title="E-mail" ng-if="document.shipment.email">{{getFixedWord('GENERAL_MAIL', 'E-mail')}}:</abbr> 
							<a href="mailto:{{document.shipment.email}}">{{document.shipment.email}}</a><br>
						</address>
					</section>
				</div>

			  <div class="alert vdb-alert" style="margin-top: 0px; margin-bottom: 15px;" ng-show="document.documenttype_code == 'OAUT'"
			      ng-bind-html="getFixedWord('GASTALDI_VDB_CART_MSG', 'La merce ordinata da questo reparto sarà in consegna in 7 gg circa, chiusura ordini ogni mercoledì ore 12.00. Il pfu sarà regolarmente addebitato in fase di emissione ddt. <br> In caso di reso saranno addebitati € 45.00 a treno.')">
			  </div>

				<table class="table table-striped invoice-items-table">
					<thead>
						<tr>
							<th>#</th>
							<th>{{getFixedWord('GENERAL_ITEM', 'Articolo')}}</th>
							<th>{{getFixedWord('GENERAL_DESCRIPTION', 'Descrizione')}}</th>
							<th class="text-right">{{getFixedWord('GENERAL_QUANTITY', 'Quantità')}}</th>
							<th class="text-right">{{getFixedWord('DOCUMENT_UNIT_PRICE', 'Prezzo per unità')}}</th>
							<th class="text-right">PFU</th>
							<th class="text-right">{{getFixedWord('GENERAL_TOTAL', 'Totale')}}</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="detail in document.detail">
							<td>{{$index + 1}}</td>
							<td>
								<span class="imgContainer">
									<img class="productImage" ng-src="{{getImage(detail.product.image_url)}}" />
								</span>
								{{detail.product.product_code}}
							</td>
							<td>{{detail.product.product_name}}</td>
							<td class="text-right">{{detail.quantity}}</td>
							<td class="text-right"><span>{{formatMoney(detail.net_unit_price, document.currency_format_string)}}</span></td>

							<td class="text-right">
	              <span ng-show="detail.disposal_price">
	              	{{formatMoney(detail.disposal_price, document.currency_format_string)}}
	              </span>
	              <span ng-show="!detail.disposal_price">-</span>
							</td>

							<td class="text-right">{{formatMoney(detail.total_row_price, document.currency_format_string)}}</span></td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-sm-8 col-print-6">
						<div ng-if="document.notes" class="row paragraph">
							<strong class="col-xs-2">{{getFixedWord('GENERAL_NOTES', 'Note')}}:</strong>

							<div class="col-xs-10">{{document.notes}}</div>
						</div>

						<div class="row paragraph" ng-show="document.paymenttype && document.paymenttype.paymenttype_description">

							<strong class="col-xs-2">{{getFixedWord('GENERAL_PAYMENTTYPE', 'Metodo di pagamento')}}:</strong> 

							<div class="col-xs-10">
								<div>{{document.paymenttype.paymenttype_description}}</div>
							</div>
						</div>

						<div class="row paragraph" ng-show="document.deliverytype && document.deliverytype.deliverytype_description">

							<strong class="col-xs-2">{{getFixedWord('PRINT_DOCUMENT_DELIVERYTYPE', 'Modalità di consegna')}}:</strong> 

							<div class="col-xs-10">{{document.deliverytype.deliverytype_description}}</div>

						</div>
					</div>

					<div class="col-sm-4 col-print-6">
						<div class="row text-right">
							<div class="col-xs-9">
								<p>{{getFixedWord('DOCUMENT_SUBTOTAL', 'Subtotale')}} </p>
								<p>{{getFixedWord('CART_TAX_TOTAL')}} </p>
								<p class="no-margin">
									<strong>{{getFixedWord('DOCUMENT_TOTAL', 'Totale')}}</strong>
								</p>
							</div>
							<div class="col-xs-3">
								<p>{{formatMoney(document.total, document.currency_format_string)}}</p>
								<p>{{formatMoney(document.total_vat, document.currency_format_string)}}</p>
								<p class="no-margin">
									<strong>{{formatMoney(document.total_with_vat, document.currency_format_string)}}</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>