<table ng-if="products && products.length > 0" class="table table-striped table-condensed" infinite-scroll-common
    infinite-scroll='nextPage()' infinite-scroll-disabled='facets.paging.loadingData' 
    infinite-scroll-distance='0' infinite-scroll-container="'#products-container'">
    <thead>
        <tr>
            <th>{{getFixedWord('GENERAL_BRAND', 'Marca')}}</th>
            <th>{{getFixedWord('GENERAL_CODE', 'Codice')}}</th>
            <th>{{getFixedWord('GENERAL_ITEM', 'Articolo')}}</th>
            <th class="text-center">{{getFixedWord('GENERAL_PUBLISHED', 'Pubblicato')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.brand}}</td>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td class="text-center">
                <i class="fa" ng-class="{'fa-circle': product.published, 'fa fa-circle-o': !product.published}"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="loading-container" ng-show='facets.paging.loadingData'>
    <div class="text-center clearfix"> 
        <div class="loading-message-icon">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
        <div class="loading-message">
            <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
        </div>
    </div>
</div>

<div class="row nolistitem" ng-show="(!products || products.length == 0) && !facets.paging.loadingData && searched" style="margin-top: 10px">    
    <div class="noimage"></div>
    <div class="noitemdesc">
        <span class="noitemdesc1" style="margin-top: 12px;"> {{getFixedWord('VL_PRDOS_NOT_FOUND', 'Nessuna prodotto trovato per il filtro impostato!')}} </span>
    </div>
</div>