<style>
.file a {
    font-size: 11pt;
}
.file {
    font-size: 13pt;
    margin-top: 5px;
}
.file i {
    margin-right: 5px;
}
</style>

<div class="static-page">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-xs-12" style="margin-top: 15px;">
                <h1 class="uppercase" style="float: left;">Privacy Policy</h1>
                <img style="float: right;" alt="Home" src="/static/themes/front/img/firm_logo_public.png" class="site-logo img-responsive"/>
            </div>
            <div class="col-xs-12 text-justify text-section">
                <span class="" style="font-size: 14pt;padding-bottom: 20px;display: block;">
                    Di seguito sono riportati i link ai pdf scaricabili con le nostre policy ed informative.
                </span>

                <div class="file" ng-repeat="p in files">
                    <i class="fa fa-eye"></i><a href="{{p.url}}">{{p.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
