.date_group {
	color: red;
	font-weight: 500;
}

.documents_list {
	padding-top: 10px;
  position: relative;
}

.documents_list .new_document {
  top: 22px !important;
  left: -55px!important;
  font-size: 13px!important;
  padding: 1px!important;
  margin-top: -15px;
}

.document_icon {    
	min-height: 50px;
  min-width: 4%;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 1%;
  display: inline-block;
}

.document_number {    
	display: inline-block;
	float: none!important;
  width: 9%;
  text-align: center;
  vertical-align: middle;
}

.customer {    
	display: inline-block;
  float: none!important;
  text-align: left;
  vertical-align: middle; 
	width: 22%;
}

.status {
	display: inline-block;
	float: none!important;
	text-align: left;
  vertical-align: middle; 
  width: 26%;
}

.agent {
	display: inline-block;
	float: none!important;
	text-align: left;
  vertical-align: middle; 
  width: 19%;
  margin: 0;
  margin-left: 1%;
}

.document_totals {	
	display: inline-block;
	float: none!important;
	text-align: right;
  vertical-align: middle; 
  width: 8%;
  margin-right: 1%;
}

.document_hour {	
	display: inline-block;
	float: none!important;
	text-align: left;
  vertical-align: middle; 
  width: 6%;
}

.document_list_head_label {
	margin-bottom: 2px;
}

.document_list_head_label_dos {
	margin-bottom: 5px;
}

.total {
  margin-top: 4px!important;
}

.total_value {
  font-size: 11pt!important;
  white-space: nowrap;
}


@media (max-width: 762px) {
	.document_number {
		width: 20%
	}
	.customer {
		width: 38%;
	}
	.status {
		width: 34%;
	}
	.document_totals {
		width: 18%
	} 
	.agent {
		width: 38%
	}
}

@media (max-width: 668px) {	
	.document_icon {   
		display: none;
	}
	.document_number {
		margin-left: 2%;
		text-align: left;
	}
	.document_totals {
		margin-left: 2%;
		text-align: left;
	} 
}


/* document edit */
.row.document-section-body textarea {    
	font-weight: 400;
  color: #333333!important;
  -webkit-text-fill-color: #333333!important;
  opacity: 1!important;
  -webkit-opacity:1!important;
}

