<div class="box">
	<!-- header -->
	<div class="box-header">
		<h2><i class="fa fa-list-alt"></i> {{getFixedWord('USER_DATA_SUMMARY')}}</h2>
		<div class="box-icon">
			<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
		</div>
	</div>
	<!-- contents -->
	<div class="box-content">
		<form class="form-horizontal ng-pristine ng-valid">
			<fieldset>
				<!-- username -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_USERNAME')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.username}}</p></div>
				</div>
				<div class="form-group" for-functionality="users.allow_notes">
					<label class="col-sm-2 control-label">Annotazioni:</label>
				   <div class="col-sm-10"><p class="form-control-static">{{userData.notes}}</p></div>
			   </div>
				<!-- legacy_id -->
				<div class="form-group" for-functionality="users.legacy_id">				
					<label class="col-sm-2 control-label">{{getFixedWord('USER_LEGACY')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.legacy_id}}</p></div>
				</div>
				<!-- user type -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_USER_TYPE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.user_type}}</p></div>
				</div>
				<!-- first name -->
				<div class="form-group" ng-if="userData.user_type == 'private'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_FIRST_NAME')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.first_name}}</p></div>
				</div>
				<!-- last name -->
				<div class="form-group" ng-if="userData.user_type == 'private'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_LAST_NAME')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.last_name}}</p></div>
				</div>
				<!-- company name -->
				<div class="form-group" ng-if="userData.user_type == 'company'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_COMPANY_NAME')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.company_name}}</p></div>
				</div>
				<!-- address -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_ADDRESS')}}:</label>
			 		<div class="col-sm-10"><p class="form-control-static">{{userData.address}}</p></div>
				</div>
				<!-- city -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_CITY')}}:</label>
			 		<div class="col-sm-10"><p class="form-control-static">{{userData.city}}</p></div>
				</div>
				<!-- state -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_COUNTRY')}}:</label>
			 		<div class="col-sm-10"><p class="form-control-static">{{userData.country_dsc}}</p></div>
				</div>
				<!-- phone -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_PHONE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.phone}}</p></div>
				</div>
				<!-- company email -->
				<div class="form-group" ng-if="userData.user_type == 'company'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_COMPANY_MAIL')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.company_email}}</p></div>
				</div>
				<!-- personal email -->
				<div class="form-group" ng-if="userData.user_type == 'private'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_PERSONAL_MAIL')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.email}}</p></div>
				</div>
				<div class="form-group">				
					<label class="col-sm-2 control-label">Email di default:</label>
				   <div class="col-sm-10"><p class="form-control-static">{{userData.default_email}}</p></div>
			   </div>
				<!-- role on company -->
				<div class="form-group" ng-if="userData.user_type == 'company'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_COMPANY_ROLE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.company_role_dsc}}</p></div>
				</div>
				<!-- tax code -->
				<div class="form-group" ng-if="userData.user_type == 'private'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_TAX_CODE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.tax_code}}</p></div>
				</div>
				<!-- vat code -->
				<div class="form-group" ng-if="userData.user_type == 'company'">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_VAT_CODE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.vat_code}}</p></div>
				</div>
				<!-- active -->
				<div class="form-group">
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_ACTIVE')}}:</label>
					<div class="col-sm-1">
						<p class="form-control-static">
							<span ng-class="getBooleanCssClass(userData.active)">{{getBooleanDescription(userData.active)}}</span>
						</p>
					</div>
				</div>
				<div class="form-group" for-functionality="users.settings.client_ids">
					<label class="col-sm-2 control-label">{{getFixedWord('SITE_USER_CHECK_CLIENT')}}:</label>
				   <div class="col-sm-1">
					   <p class="form-control-static">
						   <span ng-class="getBooleanCssClass(userData.check_client)">{{getBooleanDescription(userData.check_client)}}</span>
					   </p>
				   </div>
			   </div>
				<!-- market -->
				<div class="form-group" for-functionality="users.market.default">				
		     	<label class="col-sm-2 control-label">{{getFixedWord('USER_MARKET')}} ({{getFixedWord('GENERAL_DEFAULT').toLowerCase()}}):</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.market_code}} - {{userData.market_description}}</p></div>
				</div>
				<div class="form-group"  for-functionality="users.market.other">				
					<label class="col-sm-2 control-label">{{getFixedWord('USER_MARKET_OTHER')}}:</label>
				 <div class="col-sm-10"><p class="form-control-static"><span ng-repeat="m in userData.user_markets_description" style="margin-right:15px">{{m.code}}</span></p></div>
			 </div>
			 <!--listini utente-->
			 <div class="form-group" for-functionality="users.pricelist.edit">				
				<label class="col-sm-2 control-label">{{getFixedWord('USER_PRICELIST')}}:</label>
				<div class="col-sm-10"><p class="form-control-static"><span ng-repeat="m in userData.additional_pricelists" style="margin-right:15px">{{m}}</span></p></div>
			 </div>
				<!-- customer -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_CUSTOMER')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.customer_company_name}}</p></div>
				</div>
				<!-- culture -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_CULTURE')}}:</label>
					<div class="col-sm-10"><show-culture ng-model="userData.culture_id"></show-culture><!--<p class="form-control-static">{{userData.culture_code}}</p>--></div>
				</div>
				<div class="form-group">				
		    	<label class="col-sm-2 control-label">{{getFixedWord('USER_PROFILE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.profile_code}} - {{userData.profile_description}}</p></div>
				</div>
				
				<div class="form-group"  for-functionality="users.set_area">				
		    	<label class="col-sm-2 control-label">{{getFixedWord('USER_AREA')}}:</label>
					<div class="col-sm-10">
						<table class="table translations" style="border: 1px #ddd solid;">
							<thead>
								<tr>
									<th class="col-md-3">{{getFixedWord('GENERAL_ZONE')}}</th>
									<th class="col-md-3">{{getFixedWord('GENERAL_PRODUCT_GROUPS')}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="i in userData.site_user_area_description">
									<td>
										<p class="form-control-static">{{i.zones}}</p>
									</td>
									<td>
											<p class="form-control-static">{{i.product_groups}}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- roles -->
				<!--<div class="form-group">
					<label class="col-sm-2 control-label">{{getFixedWord('USER_ROLES')}}:</label>
					<div class="col-sm-10">
						<p class="form-control-static">
						<span class="label label-default" ng-repeat= "role in userData.user_roles" style="margin-left:10px;">{{role.description}}</span>
						</p>
					</div>
				</div>-->
				<div class="form-group" for-functionality="users.set_user_group">
					<label class="col-sm-2 control-label">{{getFixedWord('USER_GROUPS')}}:</label>
					<div class="col-sm-10">
						<p class="form-control-static">
						<span class="label label-default" ng-repeat= "group in userData.user_groups" style="margin-left:10px;">{{group.description}}</span>
						</p>
					</div>
				</div>

				<div class="form-group" for-functionality="users.set_user_brand">
					<label class="col-sm-2 control-label">{{getFixedWord('TR_BRAND')}}:</label>
					<div class="col-sm-10">
						<p class="form-control-static">
						<span class="label label-default" ng-repeat= "group in userData.user_brands" style="margin-left:10px;">{{group.vl_description}}</span>
						</p>
					</div>
				</div>

				<div class="form-group" for-functionality="users.set_user_currency">				
						<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_CURRENCY')}}:</label>
				 <div class="col-sm-10"><p class="form-control-static">{{userData.currency_code}} - {{userData.currency_symbol}}</p></div>
			 </div>
				<!-- agent -->
				<div class="form-group" ng-if="(userData.agent_name && userData.agent_name.length) || (userData.agent_code && userData.agent_code.length)">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('GENERAL_AGENT')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.agent_code}} - {{userData.agent_name}}</p></div>
				</div>

				<div class="form-group">
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_NEWSLETTER_SUBSCRIBED', 'Iscritto alla Newsletter')}}:</label>
					<div class="col-sm-1">
						<p class="form-control-static">
							<span ng-class="getBooleanCssClass(userData.newsletter_subscribed)">{{getBooleanDescription(userData.newsletter_subscribed)}}</span>
						</p>
					</div>
				</div>				

				<!-- signed up date -->
				<div class="form-group">				
		     		<label class="col-sm-2 control-label">{{getFixedWord('USER_SIGNEDUP_DATE')}}:</label>
					<div class="col-sm-10"><p class="form-control-static">{{userData.signed_up_date | date:'longDate'}}</p></div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="form-actions">
		<button type="button" class="btn btn-primary" ng-click="startEditingUser();">
			<i class="fa fa-edit" style="margin-right:5px"></i> {{getFixedWord('GENERAL_EDIT')}}
		</button>
		<a class="btn btn-default" ng-href="/admin/users">
			<i class="fa fa-mail-reply" style="margin-right:5px"></i> {{getFixedWord('GENERAL_BACK_TO_LIST')}}
		</a>

		<div class="pull-right">
			<button type="button" class="btn btn-default" ng-click="changePassword();">
				<i class="fa fa-asterisk" style="margin-right:5px"></i> {{getFixedWord('USER_CHANGE_PSW')}}
			</button>
			<a class="btn btn-default" for-functionality="visibility_list.create" ng-href="/admin/visibility_list/user_{{userData.user_id}}">
				<i class="fa fa-eye" style="margin-right:5px"></i> {{getFixedWord('USER_VISIBILITY_RULES', 'Regole di visibilità')}}
			</a>
			<a class="btn btn-default" for-functionality="users.settings.client_ids" ng-href="/admin/users/{{userData.user_id}}/clients">
				<i class="fa fa-edit" style="margin-right:5px"></i> {{getFixedWord('SITE_USER_CLIENTS')}}
			</a>
			<a class="btn btn-default" for-functionality="agent.customer_association" ng-if="userData.agent_id" ng-href="/admin/users/{{userData.user_id}}/ag_{{userData.agent_id}}">
				<i class="fa fa-edit" style="margin-right:5px"></i> {{getFixedWord('AGENT_CUSTOMER_ASSOCIATION')}}
			</a>
		</div>
	</div>
</div>