<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <!-- start: Meta -->
  <meta charset="utf-8">
  <meta name="description" content="More.">
  <meta name="author" content="Cristian Bressan">
  <meta name="keyword" content="ERP, CRM, Sales Force">
  <meta name="fragment" content="!">
  <!-- end: Meta -->
  
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->
  
  <title><%- appName %></title>

  <!-- start: CSS -->
  <% if(testEnvironment) { %>
    <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/test_environment.css">
  <% } %> 
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/retina.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/globals.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/custom.css">

  <link href="/static/css/quicksight/custom.css" rel="stylesheet">   
  <!-- end: CSS -->
  

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link id="ie-style" href="css/ie.css" rel="stylesheet">
  <![endif]-->
  
  <!--[if IE 9]>
    <link id="ie9style" href="css/ie9.css" rel="stylesheet">
  <![endif]-->  
  
  <!-- start: Favicon and Touch Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/themes/<%- themeName %>/ico/favicon.png">
  <!-- end: Favicon and Touch Icons --> 

</head>

<body ng-controller="AppCtrl">
  <% if(testEnvironment) { %>
    <span class="test-banner">
      TEST
    </span>
  <% } %> 
  
  <div ng-include="'header.tpl.html'"></div>
  
  <div class="container">
    <div class="row">
        
      <!-- start: Main Menu -->
      <div id="sidebar-left" class="col-lg-2 col-sm-1">
        <div ng-include="'menu.tpl.html'"></div>
      </div>

      <!--
      <button onclick="attivatooltip();">click!</button>
      <p id="tooltipmerda" data-rel="tooltip" data-placement="bottom" title="" data-original-title="This field is required." data-trigger="click"> test tooltip </p>
      -->

      <div id="content" class="col-lg-10 col-sm-11">
        <div class="row-fluid">
          <div ng-include="'breadcrumb.tpl.html'"></div>
          <div ng-include="'notifications.tpl.html'" class="container-fluid" ng-show="notifications.getCurrent().length"></div>
          <div ng-view class="container-fluid"></div>
        </div>
      </div>
    </div>

    <div class="modal hide fade" id="myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
      </div>
      <div class="modal-body">
        <p>Here settings can be configured...</p>
      </div>
      <div class="modal-footer">
        <a href="index.html#" class="btn" data-dismiss="modal">Close</a>
        <a href="index.html#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div ng-include="'footer.tpl.html'"></div>
  </div>

  <!-- start: JavaScript-->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/bootstrap.js"></script>

  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular-ui/angular-ui.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular-ui/ui-bootstrap.js"></script>

  <!-- listen on socket.io for incoming messages -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/socket-connect.js"></script>
  <!-- then beef it up with some convenience logic for talking to Sails.js -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/sails.io.js"></script>

  <!-- page scripts -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery.ui.touch-punch.min.js"></script>

  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/moment.min.js"></script>
  <!-- inline scripts related to this page -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/pages/index.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/pages/form-elements.js"></script>
  <!-- vendor scripts -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/mongoose/mongoose.js"></script>
  <!-- theme scripts -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/custom.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/core.min.js"></script>
  <!-- helpers -->
  <script type="text/javascript" src="/config/<%- userCulture %>.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/helpers.js"></script>
  <!-- module scripts -->
  <script type="text/javascript" src="/static/js/<%- moduleName %>/app.js?<%- dyn_version %>"></script>
  <script type="text/javascript" src="/static/js/common/app.js?<%- dyn_version %>"></script>
  
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/require/require.min.js" data-main="/static/js/appBootstrap.js"></script>

</body>
</html> 