<div class="clearfix"></div>

<section class="product-noresult animated-container" ng-class="{'animated-hide': !cart.loaded, 'animated-show' : cart.loaded}"
        ng-show="cart.list.length == 0 && cart.loaded">
  {{getFixedWord('NO_PRODUCTS_FOUND', 'NO PRODUCT FOUND')}}
</section>

<div class="loading-container" ng-show='!cart.loaded'>
  <div class="text-center clearfix"> 
    <div class="loading-message-icon">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
    <div class="loading-message">
        <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
    </div>
  </div>
</div>

<div ng-if="cart.list.length > 0" class="animated-container" 
    ng-class="{'animated-hide': !cart.loaded, 'animated-show' : cart.loaded}">
    <div class="table-responsive">
      <table class="table table-bordered table-striped cart-table" id="cart-table">
        <thead>
          <tr> 
            <th></th>     
            <th>{{getFixedWord('CART_PRODUCT_CODE')}}</th>                       
            <th >{{getFixedWord('GENERAL_ITEM')}}</th>
            <th class="text-right">{{getFixedWord('CART_UNIT_PRICE')}}</th>
            <th ng-if="getSettingBooleanValue('buy_ship_date')">{{getFixedWord('GENERAL_SHIP_DATE')}}</th>
            <th class="text-right" ng-hide="getSettingBooleanValue('cart.hide_availability')">{{getFixedWord('GENERAL_AVAILABILITY')}}</th>
            <th class="text-right text-danger">Promo</th>
            <th class="text-right">PFU</th>
            <th style="width: 8%">{{getFixedWord('CART_QUANTITY')}}</th>
            <th>{{getFixedWord('CART_TOTAL')}}</th>
            <th></th>
          </tr>
        </thead>  
        <tfoot style="background-color: #f9f9f9;">
          <tr>
            <td colspan="5" class="cart-last-row"></td>
            <td colspan="2"><strong>{{getFixedWord('CART_CART_TOTAL')}}</strong></td>
            <td colspan="2" class="text-right"><strong class="cart-price">{{formatMoney((cart.getTotalPrice()), cart.list[0].priceDetail.currencyFormatString)}}</strong></td>
          </tr>
        </tfoot> 
        <tbody>
          <tr ng-repeat="product in cart.list">
            <td style="max-width: 75px">
              <a ng-href="/{{logged_user.user.url_culture}}/item/{{product.id}}" ng-click="forceReload($event, product.id)">
                <img ng-src="{{getProductImage(product)}}" fallback-src="/static/img/publicsite/product_placeholder.jpg"
                 title="{{product.name}}" alt="{{product.name}}" class="img-responsive" style="max-height: 120px;">
              </a>
            </td>
            <td>
              <div class="code">
                {{product.code}}
              </div>
            </td>
            <td>
              <div class="name">
                <p>
                <a ng-href="/{{logged_user.user.url_culture}}/item/{{product.id}}" ng-click="forceReload($event, product.id)">{{product.name}}</a>
                </p>
              </div>
              <div ng-if="product.variants">
                <div>{{getFixedWord('GENERAL_COLUMN_VARIANT','Colore')}}: <strong>{{product.variants[0].value}}</strong></div>
                <div>{{getFixedWord('GENERAL_ROW_VARIANT','Taglia')}}: <strong>{{product.variants[1].value}}</strong></div>
              </div>
            </td>
            <td class="cart-price text-right">{{formatMoney(product.priceDetail.netUnitPrice, product.priceDetail.currencyFormatString)}}</td>

            <td ng-if="getSettingBooleanValue('buy_ship_date')">
              <div class="input-group date">
                <input type="text" class="form-control date-picker" name="ship_date" style="border-radius: 5px; width: 95px;"
                      ng-model="product.ship_date" data-date-format="dd/mm/yyyy"/>
              </div>
            </td>
            <td class="text-right" ng-hide="getSettingBooleanValue('cart.hide_availability')">
              <span ng-class="{'stock-available': product.priceDetail.productInfo.stockQuantity > 0}">
                <span ng-show="product.priceDetail.productInfo.stockQuantity <= 20">
                  {{getStockQuantityString(product.priceDetail.productInfo.stockQuantity)}}
                </span> 
                <span ng-show="product.priceDetail.productInfo.stockQuantity > 20">
                  > 20
                </span>  
                {{product.priceDetail.umCode}}
              </span>
              
              <div ng-show="incomingAvailability(product)" style="margin-top: 5px;"> {{getFixedWord('GENERAL_ARRIVING','Incoming')}}: 
                <span class="stock-incoming">{{getStockQuantityString(product.priceDetail.productInfo.stockIncomingQuantity)}} {{product.priceDetail.umCode}}</span>
              </div>         
            </td>

            <td class="text-right text-danger"><!--promo-->
              <span ng-show="product.priceDetail.netTotalPrice != product.priceDetail.netTotalPriceBeforeDisposal">
              {{formatMoney(product.priceDetail.netTotalPriceBeforeDisposal, product.priceDetail.currencyFormatString)}}
              </span>
              <span ng-show="product.priceDetail.netTotalPrice == product.priceDetail.netTotalPriceBeforeDisposal">-</span>
            </td>

            <td class="text-right">
              <span ng-show="product.commercial_data[0].contributo_pfu && product.commercial_data[0].contributo_pfu > 0">
                {{formatMoney(product.commercial_data[0].contributo_pfu, product.priceDetail.currencyFormatString)}}
              </span>
              <span ng-show="!product.commercial_data[0].contributo_pfu || product.commercial_data[0].contributo_pfu == 0">-</span>
            </td>
            
            <td>
              <input id="notif-{{product.id}}" type="text" class="form-control cart-quantity" ng-model="product.quantity" 
                      only-digits ng-blur="quantityChanged(product, true)" ng-enter="quantityChanged(product, true)">
              <div style="margin: 3px auto; width: 60px;">
                <button class="btn btn-default btn-minus-plus" ng-click="increaseQuantity(product, true)" ng-disabled="disableIncrease(product)">+</button>
                <button class="btn btn-default btn-minus-plus" ng-click="decreaseQuantity(product, true)" ng-disabled="disableDecrease(product)">-</button>
              </div>
              <div ng-if="product.min_quantity && product.min_quantity > 1" class="cart-step text-center">
                <div>{{getFixedWord('CART_MIN_QUANTITY', 'Quantità minima')}}:</div> 
                <div class="bold" style="margin-top: -3px;">{{product.min_quantity}} {{product.priceDetail.umCode}}</div> 
              </div>
              <div ng-if="product.step_quantity && product.step_quantity > 1" class="cart-step text-center">
                <div>{{getFixedWord('CART_STEP_QUANTITY')}}:</div> 
                <div class="bold" style="margin-top: -3px;">{{getStepQty(product)}} {{product.priceDetail.umCode}}</div> 
              </div>
            </td>
            <td class="text-right cart-price"> 
              <span ng-show="product.askingPrice" class="fa fa-spinner fa-spin"></span> 
              <span ng-hide="product.askingPrice">{{formatMoney((product.priceDetail.netTotalPrice), product.priceDetail.currencyFormatString)}}</span> 
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-default" ng-click="cart.removeProduct(product)"> {{getFixedWord('CART_REMOVE_PRODUCT')}} </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div> 