<div style="overflow: auto;">
  <div class="alert vdb-alert" style="margin-top: 0px; margin-bottom: 15px;" ng-show="division_data.division_code == 'VDB'"
      ng-bind-html="getFixedWord('GASTALDI_VDB_CART_MSG', 'La merce ordinata da questo reparto sarà in consegna in 7 gg circa, chiusura ordini ogni mercoledì ore 12.00. Il pfu sarà regolarmente addebitato in fase di emissione ddt. <br> In caso di reso saranno addebitati € 45.00 a treno.')">
  </div>
  <div class="alert vdb-alert" style="margin-top: 0px; margin-bottom: 15px;" ng-show="division_data.division_code == 'GASTALDI'"
      ng-bind-html="getFixedWord('GASTALDI_SERVICE_CART_MSG', 'SPESE DI TRASPORTO <br> <br> A causa del forte aumento dei costi di movimentazione e di spedizione, per ordini fino a 100 € + iva, ci vediamo costretti ad inserire nel ddt un contributo spese di trasporto pari a 10 € + iva.  <br> <br> Per ordini compresi tra i 100 € e i 200 € + iva il contributo spese di trasporto sarà ridotto a 5 € + iva.  <br> <br> Oltre i 200 € + iva nessuna cifra sarà addebitata.')">
  </div>

  <div class="report-container" ng-show="!documentLoaded">
    <div class="text-center clearfix"> 
      <div class="loading-message-icon">
        <span class="fa fa-spinner fa-spin"></span>
      </div>
      <div class="loading-message">
          <span class="report-alert-message text-left"> {{getFixedWord('GENERAL_LOADING_DATA')}} </span>
      </div>
    </div>
  </div> 

  <div class="report-container" ng-show="documentLoaded">
    <ng-include src="'reports_templates/order-report.tpl.html'"></ng-include>
  </div>
</div>