<form name="checkoutForm" class="form-horizontal order-form" novalidate>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <fieldset>
        <legend style="padding-top: 10px;!important"><h5>{{getFixedWord('CART_BILLING_DATA', 'Billing data')}}</h5></legend>
        <!-- company_name -->
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
            {{getFixedWord('CUSTOMER_COMPANY_NAME','Company name')}}:
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">{{cart.customer.addresselement.address_name}}</p>
          </div>
        </div>   
        <!-- address -->
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">
              {{cart.customer.addresselement.address}} 
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">
              {{cart.customer.addresselement.zip_code}}
              {{cart.customer.addresselement.city}}
              <span ng-if="cart.customer.addresselement.province && cart.customer.addresselement.province.length">, </span>{{cart.customer.addresselement.province}}
              <span ng-if="cart.customer.addresselement.country && cart.customer.addresselement.country.length">, </span>{{cart.customer.addresselement.country}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
            {{getFixedWord('CUSTOMER_VAT_CODE','P. Iva')}}:
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">{{cart.customer.addresselement.vat_code}}</p>
          </div>
        </div> 
      </fieldset>
    </div>
    <div class="col-sm-6 col-xs-12 order-right-container">
      <fieldset>
        <legend style="padding-top: 10px;!important">
          <button class="btn btn-xs btn-success edit-button pull-right" ng-click="addresses.load(true)" 
                data-toggle="modal" data-target="#deliveryAddressModal">
            <i class="fa fa-edit"></i> {{getFixedWord('GENERAL_EDIT')}}
          </button>
          <h5>{{getFixedWord('CART_DELIVERY_ADDRESS', 'Delivery address')}}</h5>
        </legend>
        <!-- company_name -->
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
            {{getFixedWord('CUSTOMER_COMPANY_NAME','Company name')}}:
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">{{cart.customer.delivery_address.address_name}}</p>
          </div>
        </div>   
        <!-- address -->
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">
              {{cart.customer.delivery_address.address}} 
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">
          </label>
          <div class="col-sm-7 col-xs-12">
            <p class="form-control-static">
              {{cart.customer.delivery_address.zip_code}}
              {{cart.customer.delivery_address.city}}
              <span ng-if="cart.customer.delivery_address.province && cart.customer.delivery_address.province.length">, </span>{{cart.customer.delivery_address.province}}
              <span ng-if="cart.customer.delivery_address.country && cart.customer.delivery_address.country.length">, </span>{{cart.customer.delivery_address.country}}
            </p>
          </div>
        </div> 
      </fieldset>
    </div>
  </div>

  <div class="row">
    <!-- TIPO DI PAGAMENTO CHE C'è IN GAMMA -->
  </div>

  <div class="row">
    <div class="col-xs-12">
      <fieldset>
        <legend style="padding-top: 10px;">
          <h5>{{getFixedWord('CART_ORDER_NOTES', 'Order notes')}} (Max 240 caratteri)</h5>
        </legend>
        <div class="form-group">
          <textarea id="order_notes" class="input-xlarge col-xs-10 col-xs-offset-1" rows="4" style="border: 1px solid #ccc;"
                    ng-model="cart.customer.notes" maxlength='240'>
          </textarea>
        </div> 
      </fieldset>
    </div>
  </div>
</form>