/*************************** STICKY FOOTER */
/* line 11, ../sass/_sticky_footer.scss */
#view-container {
  min-height: calc(100vh - 40px) !important;
}

/* line 15, ../sass/_sticky_footer.scss */
.page {
  position: static !important;
}

/* .sidebar{
    top: 100px;
} */
/* line 24, ../sass/_sticky_footer.scss */
footer {
  position: relative;
  z-index: 1000;
}

/* line 29, ../sass/_sticky_footer.scss */
.site-footer {
  height: 40px;
  background: #ffffff;
  padding: 30px 0;
  /*     li{
          border-right: 1px solid $white;
          padding-right: 15px;
          &:last-child{
              border-right: none;
          }
      }
      a{
          color: $white;
          font-size: 14px;
          text-transform: uppercase;
          &:hover{
              color: darken($white, 15%);
          }
      } */
}
@media (max-width: 767px) {
  /* line 29, ../sass/_sticky_footer.scss */
  .site-footer {
    height: 40px;
  }
}

/* line 7, ../sass/customization.scss */
.select2-container {
  width: 100%;
}

/* line 11, ../sass/customization.scss */
.avatar {
  display: none;
}

/* line 15, ../sass/customization.scss */
.site-logo {
  max-width: 160px !important;
  margin-top: 12px;
  margin-left: 8px !important;
}
@media (max-width: 991px) {
  /* line 15, ../sass/customization.scss */
  .site-logo {
    float: left;
  }
}

/* line 24, ../sass/customization.scss */
#site-header {
  min-height: 60px;
}

/* line 30, ../sass/customization.scss */
.search-labels li span {
  text-transform: lowercase;
}
/* line 32, ../sass/customization.scss */
.search-labels li span.free {
  background-color: #5cb85c;
}
/* line 35, ../sass/customization.scss */
.search-labels li span.select {
  background-color: #337ab7;
}
/* line 38, ../sass/customization.scss */
.search-labels li span.check {
  background-color: #f0ad4e;
}

/* line 48, ../sass/customization.scss */
.product-table table tr td {
  vertical-align: middle;
}
/* line 50, ../sass/customization.scss */
.product-table table tr td:first-child {
  width: 10%;
}

/* line 58, ../sass/customization.scss */
.modal-body {
  padding: 10px;
}

/* line 62, ../sass/customization.scss */
.content-wrapper {
  margin-bottom: 30px;
}
/* line 64, ../sass/customization.scss */
.content-wrapper .alert {
  margin-bottom: 20px;
}
/* line 67, ../sass/customization.scss */
.content-wrapper .img-responsive {
  max-width: 100px;
  margin: auto;
}
/* line 72, ../sass/customization.scss */
.content-wrapper .btn:not(.btn-default) {
  color: #ffffff;
}

/* line 79, ../sass/customization.scss */
.search-table-container {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #222;
}

/* line 86, ../sass/customization.scss */
.print-mode {
  /*max-height: initial!important;*/
  max-height: none !important;
}

/* line 91, ../sass/customization.scss */
.loading_feedback.gastaldi-search {
  z-index: 9999 !important;
  opacity: 0.6;
  font-size: 80pt !important;
  padding-top: 240px;
}

/* line 99, ../sass/customization.scss */
#productModal .product-image-container {
  width: auto;
}
/* line 102, ../sass/customization.scss */
#productModal .product-image {
  border: 1px solid #E7E8E8;
}
/* line 105, ../sass/customization.scss */
#productModal #info {
  margin-top: 10px;
}
/* line 107, ../sass/customization.scss */
#productModal #info p {
  font-size: 16px;
}
/* line 110, ../sass/customization.scss */
#productModal #info .brand-image {
  max-width: 100px;
}

/* line 116, ../sass/customization.scss */
.buy-modal {
  margin-top: 60px !important;
}

/* line 120, ../sass/customization.scss */
.panel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 124, ../sass/customization.scss */
.product-image-container {
  cursor: pointer;
}

/* line 128, ../sass/customization.scss */
div.action-popover-prod img {
  max-width: 100% !important;
}

/* line 132, ../sass/customization.scss */
.action-popover-prod-data {
  max-width: none !important;
}

/* line 136, ../sass/customization.scss */
.popover-pfu {
  position: absolute;
  right: 18px;
}

/* line 141, ../sass/customization.scss */
button.close.remove-button.list {
  position: absolute;
  right: 17px;
}

/* line 146, ../sass/customization.scss */
.action-popover-img-container {
  float: left;
  text-align: center;
  width: 36px !important;
  max-height: 52px !important;
}

/* line 153, ../sass/customization.scss */
#categoryMenu {
  max-height: 300px;
  overflow: auto;
}

/* line 158, ../sass/customization.scss */
.filter-label > span {
  font-weight: normal;
  margin: 0px;
  margin-right: 5px;
  color: #545454;
}

/* line 165, ../sass/customization.scss */
.filter-label:hover > span {
  text-decoration: underline;
}

/* line 169, ../sass/customization.scss */
.fixed-smw-header {
  top: 45px !important;
  margin-top: 15px!important;
}

/* line 173, ../sass/customization.scss */
.text-danger {
  color: #ff5454;
}

/* line 177, ../sass/customization.scss */
.customer-selector {
  max-width: 80px;
}

/* line 181, ../sass/customization.scss */
.navbar-reference-agent {
  height: 60px;
  font-size: 14px;
  padding-top: 10px;
  float: left;
  margin-left: 10px;
}

/* line 189, ../sass/customization.scss */
.banner-title {
  font-size: 28px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
  margin-bottom: 35px!important;
}
/* line 194, ../sass/customization.scss */
.banner-title #collapse-banner {
  color: #34B509;
  font-size: 18px;
}
/* line 197, ../sass/customization.scss */
.banner-title #collapse-banner:after {
  font-family: 'FontAwesome';
  content: "\f107";
}
/* line 202, ../sass/customization.scss */
.banner-title.collapsed #collapse-banner:after {
  font-family: 'FontAwesome';
  content: "\f105";
}

/* line 207, ../sass/customization.scss */
#banner-container {
  padding: 0px!important;
}
#banner-container.collapse.in {
  height: 140px!important;
}
/* line 209, ../sass/customization.scss */
#banner-container .slick-list {
  margin: 0 15px;
}
/* line 212, ../sass/customization.scss */
#banner-container .img-responsive {
  max-width: 100%;
}
/* line 215, ../sass/customization.scss */
#banner-container .slick-prev:before, #banner-container .slick-next:before {
  color: #0a0a0a;
  font-size: 28px;
}
/* line 219, ../sass/customization.scss */
#banner-container .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* line 225, ../sass/customization.scss */
.alert.alert-warning {
  margin-bottom: 10px;
}

/* line 229, ../sass/customization.scss */
#main-panel .img-responsive, #secondary-panel .img-responsive {
  width: 100%;
}

/* line 234, ../sass/customization.scss */
.customer-selector-item {
  position: relative;
  height: auto; 
}

/* line 238, ../sass/customization.scss */
.customer-selector-item .customer_name.truncate {
  max-width: 80%;
}

/* line 242, ../sass/customization.scss */
.customer-selector-item .b2b-status-label {
  float: right;
}

/* line 246, ../sass/customization.scss */
.customer-selector-item .b2b-status-label img {
  max-height: 30px;
  margin-top: -6px;
  margin-right: 20px;
}

/* line 252, ../sass/customization.scss */
.customer-selector-item .agents {
  position: absolute;
  right: 8px;
}

.sector-icon {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
}
.customer-selector.sector {
  max-width: 55px;
  min-width: 50px;
}

.vdb-alert {
  background-color: #FFEB3B;
  border-color: #FFC107;
  color: #E91E63;
  font-size: 13px;
  font-weight: bold;
}


.vdb-alert strong{
  font-size: 17px;
}

.division-navbar-selector {    
  height: auto!important;
  padding: 0px;
}

.division-navbar-selector strong {
  font-size: 14px;
}

.panel-current-division {
  font-size: 14px;
  font-weight: 400;
  color: #FFEB3B;
}

.divisions-popover-block.simple-list {
  float: none!important; 
  width: 96px!important;  
  display: inline-block;    
  text-align: center;
  margin: 0px; 
  margin-top: 3px;
  margin-left: 8px;
  padding: 6px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  display: inline-block;
}

.divisions-popover-block.simple-list strong {
  font-size: 13px;    
}

.divisions-popover-block.simple-list:hover {
  cursor: pointer;
  border-color: #7b7b7b;
  background-color: #EEE;
}

.divisions-popover-block.simple-list.current {
  border: 2px solid #fbbd02;
  background: #efef2969;
  margin-top: 1px;
}

.gastaldi-division-image img {
  max-height: 30px;
  max-width: 30px;
  margin-left: 0px!important;
  float: none!important;
}

@media (max-width: 1199px) and (min-width: 992px) {
  span.hello {
      display: none !important;
  }
}


#search-page::after{
    content: '';

}

#search-page #watermark{
    position: absolute;
    top: -100%;
    bottom: 0%;
    left: -100%;
    right: 0;
    margin: auto;
    color: black;
    z-index: 99;
    font-size: 35px;
    text-align: center;
    color: #f6f6f6;
    z-index: -1;
    opacity: 0.3;
    -moz-opacity: 0.3;
}

#search-page #watermark #main-panel{
	background: transparent;
}

#search-page #watermark #main-panel .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(249, 249, 249, 0.3);
}

#search #watermark #main-panel .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: rgba(245, 245, 245, 0.3);
}
/*
@media print{
  div#view-container{
    background: url('../img/watermark.png')!important;
    -webkit-print-color-adjust: exact !important;   
    color-adjust: exact !important;
  }
}*/



.standardbuy-step {
  position: static!important;
}

.navbar-customer-selector {
  padding-top:10px;
}

.navbar-customer-selector{
  display: grid;
  column-gap: 30px;
  grid-auto-flow: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-customer-selector a{
  grid-template-columns: 40px auto!important;
  display: grid;
  align-items: center;
}

.customer-selector {
  max-width: none;
}

.customer-selector.credit {
  display: grid;
  grid-template-columns: 100px auto;
}

.customer-selector .credit-label{
  font-weight: bold;
}

.customer-selector .credit-value{
  text-align: right;
}