.form-actions{
	margin: 0px;
	background: #f9f9f9;
	padding: 19px 20px 20px;
	border-top: 1px solid #e5e5e5;
}

a.brand span {  
	height: 24px;
  display: inline-block;
  font-size: 14px;
  line-height: 13px;
  padding-left: 50px;
  width: 95%;

	background: url(/static/themes/backoffice/img/firm_logo_backend.png) no-repeat center left;
	background-size: contain;
	/*padding-left: 30px;*/
	font-family: 'Helvetica Neue','Open Sans';
	color: 
	#fff;
	text-shadow: none;
}

.text-center {
	text-align: center !important;
}

.pagination{
	display: flex;
	float:right;
	margin: 0px;
}

.breadcrumb{
	background: #fff;
	margin-left: 0px;
}

.breadcrumb li span{
	color: gray;

}

.translations img{
	width: 100px;

}

.versions td img{
	max-height: 28px;
}

.hierarchy>ul{
	padding-left: 0px;
}

.hierarchy li{

	list-style: none;
}

.hierarchy label{
	margin: 0px;
}

.hierarchy label input[type="checkbox"]{
	display: none;

}

.hierarchy label input[type="checkbox"] + div>ul{
	display: none;

}

.hierarchy label input[type="checkbox"]:checked + div>ul{
	display: block;
}

.hierarchy label input[type="checkbox"] + div>div.item:before{
	content: '\f067';
	display: inline-block;
	font-family: FontAwesome;
	margin-right: 5px;
}

.hierarchy label input[type="checkbox"]:checked + div>div.item:before{
	content: '\f068';
	display: inline-block;
	font-family: FontAwesome;
}


.hierarchy li div.item{
	border-bottom: 1px dotted black;
	min-height: 22px;
	padding-top: 4px;
	padding-bottom: 4px;

}

div.item span {
	display: inline-block !important;
}

.hierarchy li div.item:hover{
	background: #f2fbfd;
}

.hierarchy li div.head{
	border-bottom: 1px solid black;
	font-weight: bold;
	min-height: 30px;
}


.hierarchy li div.publisher{
	overflow: hidden;
	float: right;
	width: 120px;
}

.hierarchy li div.head div.state{
	overflow: hidden;
	float: right;
	width: 40px;
}

.hierarchy li div.item div.state{
	
	float: right;
	width: 40px;
}

