<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js"  dir="ltr" lang="en"     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js"  dir="ltr" lang="en"     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html class="not-ie no-js" dir="ltr" lang="{{logged_user.user.url_culture.toLowerCase()}}" ng-app="app">
<!--<![endif]-->
<head>
 
  <% if(seo && seo.is_active) { %>
    <% if(seo.analytics.gtag) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= seo.analytics.id %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
        dataLayer.push(arguments);    
      }
      gtag('js', new Date());  
      gtag('config', '<%= seo.analytics.id %>', {
        'send_page_view': false
      });
    </script>
    <% } %>
    <% if(seo.gtm) { %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= seo.gtm.id %>');</script>
      <!-- End Google Tag Manager -->
    <% } %>
  <% } %>
         
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="Bg03G61e6phUbbycsOMmYKOOND6QSo1Ipy-c-IS90QA" />
  <meta name="language" content="{{logged_user.user.url_culture.toLowerCase()}}">
  <meta name="content-language" content="{{logged_user.user.url_culture.toLowerCase()}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <meta name="fragment" content="!">

  <title>Home | <%- appName %></title>
  <meta name="description" content="Homepage"> 
  <meta name="robots" content="noindex,follow">

  <link rel="shortcut icon" href="/static/themes/<%- themeName %>/ico/favicon.png">

  <!-- start: CSS -->
  <% if(testEnvironment) { %>
    <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/test_environment.css">
  <% } %> 
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/tipTip.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/flexslider.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/elastic_slideshow.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/camera.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/jquery.metisMenu.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/angular-motion.min.css" /> 

  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/vendor/select2/select2.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/flags.css">  

  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/custom_animations.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/ion_icons_style.css" />
  
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/jquery-ui-1.10.3.custom.css" />

  <link rel="stylesheet" type="text/css" href="/static/css/home/home.css">
  <link rel="stylesheet" type="text/css" href="/static/css/home/home_icons.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/jquery.maximage.css" />
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/divisions.css"/>
  <link rel="stylesheet" type="text/css" href="/static/themes/<%- themeName %>/css/font-awesome.min.css" />  
  <!-- end: CSS -->

  <!-- start: Icons and Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Fjalla+One" media="all" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
   
  <!-- end: Icons and Fonts -->
  <script>
    document.createElement('header'); 
    document.createElement('section');
    document.createElement('article'); 
    document.createElement('aside'); 
    document.createElement('nav'); 
    document.createElement('footer'); 
  </script>

</head>

<body style="float:none;margin:0" ng-controller="AppCtrl">
  <% if(seo && seo.is_active) { %>
    <div ng-controller="SeoCtrl">
  <% } %>

  <% if(seo && seo.is_active && seo.gtm) { %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= seo.gtm.id %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <% } %>

  <% if(testEnvironment) { %>
    <span class="test-banner">
      TEST
    </span>
  <% } %> 
  
<!-- data-spy="scroll" data-target="#techTab" -->

  <!-- HEADER -->
  <div ng-include="'header/publicsite_header.tpl.html'"></div>

  <!-- NOTIFICHE -->
  <div id="notification" ng-include="'notifications.tpl.html'" class="container-fluid front-notifications" ng-show="notifications.getCurrent().length"></div>

  <!-- CONTENTS -->
  <section id="midsection" class="container">
    <!-- 
    <div class="row-fluid">
      <div ng-view class="container-fluid"></div>
    </div>
    -->
    <div id="view-container">
      <div ng-view class="page page-animate1"></div>
    </div>

  </section>

  <div class="clearfix"></div>
  <!--FOOTER-->
  <div ng-include="'footer/publicsite_footer.tpl.html'"></div>
  <% if(seo && seo.is_active) { %>
    </div>
  <% } %>

  <!-- start: Javascript -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/bootstrap.js"></script>
  <!-- vendor scripts -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular/angular.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular-ui/angular-ui.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/angular-ui/ui-bootstrap.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/mongoose/mongoose.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/select2/select2.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/socket.io.min.js"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/socket-connect.js"></script>
  <!-- then beef it up with some convenience logic for talking to Sails.js -->
  <script type="text/javascript" src="/static/themes/<%- themeName %>/vendor/sails/sails.io.js"></script>
  <!-- listen on socket.io for incoming messages -->
  <!-- app scripts -->
  <!-- helpers -->
  <script type="text/javascript" src="/config/<%- userCulture %>.js?<%- stat_version %>"></script>
  <script type="text/javascript" src="/static/themes/<%- themeName %>/js/helpers.js"></script>
  
  <script type="text/javascript" src="/static/js/<%- moduleName %>/app.js?<%- dyn_version %>"></script>
  <script type="text/javascript" src="/static/js/common/app.js?<%- dyn_version %>"></script>
  <script type="text/javascript" src="/static/js/public_common/app.js?<%- dyn_version %>"></script>
  <script type="text/javascript" src="/static/js/public_seo/app.js?<%- dyn_version %>"></script>

</body>
</html>
