<section class="container-fluid">
  <div class="row">
    <section id="content" class="content col-md-12 no-status-bar cart-wrapper"> 
        <!-- BREADCRUMB -->
        <div class="breadcrumb">
          <div class="detailCrumb">
            <a ng-href="/{{logged_user.user.url_culture}}/division/{{divisionid}}" class="ng-binding" style="font-size: 16px;">
              <span class="fa fa-caret-left"></span> {{getFixedWord('CART_BACK_TO_CATALOG', 'Torna al Catalogo')}}
            </a>
          </div>
        </div>

        <!-- CHECKOUT WIZARD -->
        <div id="checkout-wizard" class="wizard length{{cart.steps.length}}">
          <ul class="steps clearfix">
            <li ng-repeat="step in cart.steps" data-target="#step{{step.num}}"
              ng-class="{'active': cart.checkout.step == step.num, 'complete': cart.checkout.step > step.num, 'last-checkout': $last}">
              <span class="badge" ng-class="{'last-checkout-badge': $last}">
                <span ng-if="cart.checkout.step <= step.num && !$last">{{step.num}}</span>
                <span ng-if="cart.checkout.step > step.num || $last"class="fa fa-check"></span>
              </span>
              <span class="info">{{step.name}}</span>
            </li>
          </ul>
        </div>

        <div class="form-actions cart-form-actions clearfix" style="margin-bottom: 15px">
          <h4 class="pull-left cart-step-header">{{cart.checkout.step}}. {{cart.steps[cart.checkout.step - 1].header}}</h4>
          <div class="pull-right">
            <button ng-hide="cart.checkout.step == 1 || cart.checkout.step == cart.checkout.lastStep" type="button" class="btn btn-default" 
                    ng-click="cart.prev();" ng-disabled="!cart.isBtnBackEnabled()" style="margin-right: 4px">
              <i class="fa fa-arrow-left" style="margin-right:5px"></i> {{getFixedWord('GENERAL_PREV')}} 
            </button>

            <button type="button" class="btn btn-success btn-next" ng-click="cart.next();" 
                    ng-if="(cart.checkout.step < cart.checkout.lastStep) && (cart.list && cart.list.length > 0)" ng-disabled="!cart.isBtnNextEnabled()">
              <i class="fa fa-arrow-right" style="margin-right:5px"></i> {{btnNextLabel()}} 
            </button>

            <!-- last step actions -->
            <a ng-show="cart.checkout.step == cart.checkout.lastStep" class="btn btn-report-success" 
                ng-href="/{{logged_user.user.url_culture}}/mydocuments">
              <i class="fa fa-files-o" style="margin-right:5px"></i> {{getFixedWord('CART_YOUR_ORDERS')}}  
            </a>
          </div>
        </div>

        <div class="step-content">
          <div ng-repeat="step in cart.steps" class="step-pane" ng-class="{active: cart.checkout.step == step.num}" id="step{{step.num}}">
            <ng-include src="step.tpl"></ng-include>    
          </div>
        </div>

        <div class="form-actions" style="margin-top: 15px;">
          <a class="btn btn-default"  ng-href="/{{logged_user.user.url_culture}}/fast-search/{{cart.divisionID || 1}}">
            <i class="fa fa-times" style="margin-right:5px"></i> {{getFixedWord('CART_BACK_TO_FAST_SEARCH', 'Torna alla Ricerca')}}
          </a>
          <a ng-if="cart.checkout.step == cart.checkout.lastStep" class="btn btn-report-success pull-right"
              ng-href="/{{logged_user.user.url_culture}}/mydocuments">
            <i class="fa fa-files-o" style="margin-right:5px"></i> {{getFixedWord('CART_YOUR_ORDERS')}}  
          </a>
          <div class="buttons-right">
            <button type="button" class="btn btn-default" ng-click="cart.prev();" style="margin-right: 4px"
                    ng-if="(cart.checkout.step > 1) && (cart.checkout.step < cart.checkout.lastStep)">
              <i class="fa fa-arrow-left" style="margin-right:5px"></i> {{getFixedWord('GENERAL_PREV')}} 
            </button>
            <button type="button" class="btn btn-success btn-next" ng-click="cart.next();" 
                    ng-if="(cart.checkout.step < cart.checkout.lastStep) && (cart.list && cart.list.length > 0)" ng-disabled="!cart.isBtnNextEnabled()">
              <i class="fa fa-arrow-right" style="margin-right:5px"></i> {{btnNextLabel()}} 
            </button>
          </div>
        </div>
    </section>
  </div>
</section>


<div class="modal selection-modal" id="paymentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{getFixedWord('CART_PAYMENTTYPE_MODAL_TITLE')}}</h4>
      </div>
      <div class="modal-body"><div class="row">
          <div class="col-xs-12 col-md-6">
            {{getFixedWord('CART_SELECT_PAYMENTTYPE')}}
          </div>
          <div class="col-xs-12 col-md-6 text-right">
            <form class="form-horizontal modal-search-form" role="form">
              <div class="form-group has-feedback modal-search-container">
                <input id="search-paymenttype" placeholder="{{getFixedWord('GENERAL_SEARCH')}}..." 
                      class="form-control input-xlarge" type="text" ng-model="cart.checkout.selections.paymenttype.search">
                <span class="glyphicon glyphicon-search form-control-feedback search-form-feedback"></span>
              </div>
            </form>
          </div>
        </div>

        <div class="paging-container col-xs-12" 
             paging-directive paging-id="'paymenttype-table'" total-size="paymentTypes.paging.totalSize" paging-template="cart/modal-paging.tpl.html" 
             page-change-callback="paymentsPageChanged" page-conf="paymentTypes.paging.pageConf">
        </div>

        <div class="clearfix"></div>

        <div class="modal-table-container" style="margin-top: 0px!important;">
          <table class="table sortable selection-table" id="paymenttype-table">
            <tbody>
              <tr ng-repeat="type in paymentTypes.list" ng-click="selectPaymentType(type)"
                  ng-class="{'selected-table-row': (type.paymenttype_id == paymentTypes.selected.paymenttype_id)}">
                <td class="padded">
                  {{type.paymenttype_description}} 
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal selection-modal" id="deliveryAddressModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{getFixedWord('CART_DELIVERY_ADDRESS_MODAL_TITLE')}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button type="button" class="btn btn-sm btn-success" ng-click="newDestinationAddress()" data-toggle="modal" data-target="#newAddressModal" for-functionality="cart.add_new_shipping_address">
              <i class="fa fa-plus"></i> {{getFixedWord('CART_ADD_ADDRESS')}}
            </button>


            <div ng-if="addresses.list && addresses.list.length > 0" style="padding-top: 8px">
              Record: {{addresses.list.length}} / <strong>{{addresses.paging.totalSize}}</strong>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 text-right">
            <form class="form-horizontal modal-search-form" role="form">
              <div class="form-group has-feedback modal-search-container">
                <input id="search-address" placeholder="{{getFixedWord('GENERAL_SEARCH')}}" class="form-control input-xlarge" 
                      type="text" ng-model="cart.checkout.selections.delivery_address.search">
                <span class="glyphicon glyphicon-search form-control-feedback search-form-feedback"></span>
              </div>
            </form>
          </div>
        </div>

        <div class="clearfix"></div>

        <div id="modal-shipping-container" class="modal-table-container no-margin">
          <table class="table sortable selection-table no-margin" id="addresses-table"
                  infinite-scroll-common infinite-scroll='addresses.load()' infinite-scroll-disabled='addresses.loading' 
                  infinite-scroll-distance='0' infinite-scroll-container="'#modal-shipping-container'">
            <tbody>
              <tr ng-repeat="address in addresses.list" ng-click="selectDeliveryAddress(address)"
                  ng-class="{'selected-table-row': (address.addresselement_id == addresses.selected.addresselement_id)}">
                <td class="padded">
                  <p style="margin-bottom: 2px">
                    <span class="code">{{address.addresselement_code}}</span> 
                    <span ng-if="address.addresselement_code">-</span> 
                    {{address.address_name}} 
                  </p>
                  <p style="margin-bottom: 2px">
                    {{address.address}} 
                  </p>
                  <p class="no-margin">
                    {{address.zip_code}}
                    {{address.city}}
                    <span ng-if="address.province && address.province.length">, </span>{{address.province}}
                    <span ng-if="address.country && address.country.length">, </span>{{address.country}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="loading-container" ng-show='addresses.loading'>
            <div class="text-center clearfix"> 
              <div class="loading-message-icon">
                <span class="fa fa-spinner fa-spin"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade in" id="newAddressModal" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close closeImage" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title competitor-modal-title" ng-if="!customer_address.addresselement_id">
          {{getFixedWord('CUSTOMER_ADDRESS_NEW_MODAL_HEADER')}}
        </h4>
      </div>
      <div class="modal-body text-center competitor-modal-body">
        <div class="box-content">
          <form class="form-horizontal">
            <fieldset>
              <!-- address_name -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="address_name">
                  {{getFixedWord('CUSTOMER_COMPANY_NAME')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="address_name" name="address_name" 
                          ng-model="customer_address.address_name">
                </div>
              </div>    
              <!-- address -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="address">
                  {{getFixedWord('CUSTOMER_ADDRESS')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="address" name="address" 
                          ng-model="customer_address.address">
                </div>
              </div>    
              <!-- city -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="city">
                  {{getFixedWord('CUSTOMER_CITY')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="city" name="city" 
                          ng-model="customer_address.city">
                </div>
              </div>    
              <!-- province -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="province">
                  {{getFixedWord('CUSTOMER_PROVINCE')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="province" name="province" 
                          ng-model="customer_address.province">
                </div>
              </div>      
              <!-- region -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="region">
                  {{getFixedWord('CUSTOMER_REGION')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="region" name="region" 
                          ng-model="customer_address.region">
                </div>
              </div>    
              <!-- zip_code -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="zip_code">
                  {{getFixedWord('CUSTOMER_ZIP_CODE')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="zip_code" name="zip_code" 
                          ng-model="customer_address.zip_code">
                </div>
              </div>    
              <!-- country -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="country">
                  {{getFixedWord('CUSTOMER_COUNTRY')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="country" name="country" 
                          ng-model="customer_address.country">
                </div>
              </div>    
              <!-- email -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="email">
                  {{getFixedWord('CUSTOMER_EMAIL')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="email" name="email" 
                          ng-model="customer_address.email">
                </div>
              </div>    
              <!-- web -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="web">
                  {{getFixedWord('CUSTOMER_WEB')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="web" name="web" 
                          ng-model="customer_address.web">
                </div>
              </div>    
              <!-- fax -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="fax">
                  {{getFixedWord('CUSTOMER_FAX')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="fax" name="fax" 
                          ng-model="customer_address.fax">
                </div>
              </div>    
              <!-- phone -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="phone">
                  {{getFixedWord('CUSTOMER_PHONE')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="phone" name="phone" 
                          ng-model="customer_address.phone">
                </div>
              </div>    
              <!-- vat_code -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="vat_code">
                  {{getFixedWord('CUSTOMER_VAT_CODE')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="vat_code" name="vat_code" 
                          ng-model="customer_address.vat_code">
                </div>
              </div>    
              <!-- fiscal_code -->
              <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label" for="fiscal_code">
                  {{getFixedWord('CUSTOMER_FISCAL_CODE')}}:
                </label>
                <div class="controls col-md-5">
                  <input class="form-control input-xlarge" type="text" id="fiscal_code" name="fiscal_code" 
                          ng-model="customer_address.fiscal_code">
                </div>
              </div>  
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{getFixedWord('GENERAL_CANCEL')}}
        </button>
        <button type="button" ng-disabled="mainForm.$invalid" class="btn btn-success" data-dismiss="modal" ng-click="saveAddress()">{{getFixedWord('GENERAL_CONFIRM')}}</button>
      </div>
    </div>
  </div>
</div>

<div ng-include="'templates/modals_templates.tpl.html'"></div>

<div class="modal selection-modal" id="checkoutRefusedModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="fa fa-warning"></span> {{getFixedWord('CART_ORDER_CHECKOUT_REFUSED')}}</h4>
      </div>
      <div class="modal-body" style="padding: 20px; font-size:14px!important">
        <div style="margin-bottom:15px; font-size:14px!important">{{getFixedWord('CART_ORDER_CHECKOUT_REFUSED_MESSAGE')}}</div>
        <div style="font-size:14px!important">{{getFixedWord('CART_ORDER_CHECKOUT_REFUSED_MESSAGE_2')}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{getFixedWord('CART_BACK_TO_CART')}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal selection-modal" id="modifiedCartModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="fa fa-warning"></span> 
          {{getFixedWord('CART_AUTOMATICALLY_MODIFIED', 'Your cart was automatically modified!')}}
        </h4>
      </div>
      <div class="modal-body" style="padding: 20px; font-size:14px!important">
        <p style="font-size:14px!important" ng-bind-html="getFixedWord('CART_AUTOMATICALLY_MODIFIED_MESSAGE')"></p>
        <div ng-hide="!cart.modified.edited || cart.modified.edited.length == 0">{{getFixedWord('CART_EDITED_ROWS', 'Righe con quantità modificata')}}:</div>
        <ul class="list-unstyled" ng-repeat="product in cart.modified.edited">
          <strong>{{product.product_code}}</strong>: {{product.prev_quantity}} <span class="fa fa-long-arrow-right"></span> {{product.new_quantity}} 
        </ul>

        <div ng-hide="!cart.modified.removed || cart.modified.removed.length == 0">{{getFixedWord('CART_REMOVED_ROWS', 'Righe rimosse per disponibilità terminata')}}:</div>
        <ul class="list-unstyled" ng-repeat="product in cart.modified.removed">
          <strong>{{product}}</strong>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{getFixedWord('CART_BACK_TO_CART')}}
        </button>
      </div>
    </div>
  </div>
</div>





