
$c_black: #0a0a0a;
$black: #0a0a0a;
$c_header_background: #0a0a0a;
$c_text_color: #333333;
$c_text_light: #888888;
$c_icon_color: #222222;
$c_accent: #d6b160;
$c_green: #33cc66;

$c_heavy_border: #c1c1c1;
$c_light_border: #E7E8E8;
$c_input_background: #f5f5f5;

$c_white: #ffffff;
$white: #ffffff;
$c_white_transparent: rgba($c_white, 0.91);
$c_black_transparent: rgba($c_black,0.55);
$c_grey_transparent: rgba(150,150,150,0.55);
$c_light_grey: #bebebe;
$c_dark_grey: #777777; 
$c_darker_grey: #545454;
     
$font_family: 'Source Sans Pro', sans-serif;  
$price_font_family: 'Avenir Next Condensed','Source Sans Pro', sans-serif;
$font_regular : 400;
$font_semibold : 600;
$font_light: 300;
$font_size_nav: 12px;

$home_background : url("../img/login_background.jpg");
$fa_check: "\f00c";