
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "compass/css3";


.select2-container{
    width: 100%;
}

.avatar{
    display: none;
}

.site-logo{
    max-width: 160px!important;
    margin-top: 12px;
    margin-left: 8px!important;
    @media (max-width: $screen-sm-max){
        float: left;
    }
}

#site-header {
    min-height: 60px;
}

.search-labels{
    li{
        span{
            text-transform: lowercase;
            &.free{
                background-color: $brand-success;
            }
            &.select{
                background-color: $brand-primary;                
            }
            &.check{
                background-color: $brand-warning;                
            }
        }
    }
}

.product-table{
    table{
        tr{
            td{
                vertical-align: middle; 
                &:first-child{
                    width: 10%;
                }
            }
        }
    }
}

.modal-body{
    padding: 10px;
}

.content-wrapper{
    margin-bottom: 30px;
    .alert{
        margin-bottom: 20px;
    }
    .img-responsive {
        max-width: 100px;
        margin: auto;
    }
    .btn{
        &:not(.btn-default){
            color: $c_white;
        }
    }
}

 
.search-table-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #222;
}

.print-mode {
    /*max-height: initial!important;*/
    max-height: none!important;
}

.loading_feedback.gastaldi-search {
  z-index: 9999!important;
  opacity: 0.6;
  font-size: 80pt!important;
  padding-top: 240px;
}

#productModal {
    .product-image-container{
        width: auto;
    }
    .product-image{
        border: 1px solid $c_light_border;
    }
    #info{
        margin-top: 10px;
        p{
            font-size: 16px;
        }
        .brand-image{
            max-width: 100px;
        }
    }
}

.buy-modal {
    margin-top: 60px!important;
}

.panel{
    @include border-radius(3px);
}

.product-image-container {
    cursor: pointer;
}

div.action-popover-prod img {
    max-width: 100%!important;
}

.action-popover-prod-data {
    max-width: none!important;
}

.popover-pfu {
    position: absolute;
    right: 18px;
}

button.close.remove-button.list {
    position: absolute;
    right: 17px;
}

.action-popover-img-container {    
    float: left;
    text-align: center;
    width: 36px !important;
    max-height: 52px !important;
}

#categoryMenu {
    max-height: 300px;
    overflow: auto;
}

.filter-label > span {
    font-weight: normal;
    margin: 0px;
    margin-right: 5px;
    color: #545454;
}

.filter-label:hover > span {
    text-decoration: underline;
}

.fixed-smw-header {
    top: 45px!important;
}

.text-danger {
    color: #ff5454;
}

.customer-selector {
    max-width: 80px;
}

#banner-container{
    padding: 0px!important;
    .slide-wrapper{
        display: inline-block;
        width: 25%;
        max-height: 260px;
        padding: 0 20px;
        img{
            width: 100%;
        }
    }
    .carousel-indicators{
        bottom: -40px;
    }

}

.navbar-customer-selector{
    display: none!important;
}

.alert.alert-warning{
    margin-bottom: 10px;
}

.navbar-customer-selector {
    padding-top:10px;
}

.navbar-customer-selector a{
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.navbar-customer-selector a.selected-customer{
    grid-template-columns: 50px auto auto!important;
}

.customer-selector {
    max-width: none;
}


.customer-selector.credit {
    display: grid;
    grid-template-columns: 100px auto;
}

.customer-selector .credit-label{
    font-weight: bold;
}

.customer-selector .credit-value{
    text-align: right;
}