<div id="cart-popover" class="popover actions-popover dismissable-popovers" ng-show="true"  ng-click="$event.stopPropagation();"
    ng-class="{'status-bar-left-popover': wishlists.getListSize() == 0, 'right-popover-xs': downloads.getListSize() == 0 && compare.list.length == 0}" >
  <div class="arrow"></div>
  <p class="popover-title actions-pop-title">
    <span class="showcase-icon ion-ios7-cart-outline" style="font-size:1.6em;"></span> 
    <span style="font-size: 13px;padding-left:5px;"><strong>{{getFixedWord('CART_QUEUE')}}</strong></span>
  </p>
  <div class="popover-content">
    <div class="popover-clear">
      <div class="cart-popover-total pull-left no-padding">
        <label>{{getFixedWord('CART_TOTAL')}}: <strong>{{formatMoney(cart.getTotalPrice(), cart.list[0].priceDetail.currencyFormatString)}}</strong></label> 
      </div>

      <a ng-click="cart.clearAll()" class="pull-right pop-clear-all">
        {{getFixedWord('CLEAR_ALL','Clear all')}} 
        <button type="button" class="close remove-button" style="margin-left:4px;">×</button>
      </a>
    </div>
    <div class="clearfix"></div>
    <div>
      <ul class="list-unstyled action-popover-list overflow-4" scroll-trap>
        <li class="product-listing" ng-repeat="prod in cart.list">
          <div class="action-popover-prod cart">
            <button type="button" class="close remove-button list" ng-click="cart.removeProduct(prod);">×</button>

            <div class="action-popover-img-container no-padding">
              <img ng-src="{{getProductImage(prod)}}" fallback-src="/static/img/publicsite/product_placeholder.jpg" 
                  title="{{prod.name}}" alt="{{prod.name}}"></img>
            </div>

            <div class="action-popover-prod-data">
              <div class="prod-info-container no-padding">
                <label>
                  {{prod.code}}
                </label>
                <p class="cart-prod-name">
                  {{prod.name}}
                </p>
                <div class="no-padding" ng-if="prod.variants">
                  <span>{{getFixedWord('GENERAL_COLUMN_VARIANT_MIN','C')}}: <strong>{{prod.variants[0].value}}</strong></span>, 
                  <span>{{getFixedWord('GENERAL_ROW_VARIANT_MIN','T')}}: <strong>{{prod.variants[1].value}}</strong></span>
                </div>
                <label class="prices-popover-details">
                  <span class="popover-pfu" ng-show="prod.commercial_data[0].contributo_pfu">
                    PFU: {{formatMoney(prod.commercial_data[0].contributo_pfu, prod.priceDetail.currencyFormatString)}}
                  </span>
                  {{formatMoney(prod.priceDetail.netUnitPrice, prod.priceDetail.currencyFormatString)}} (<strong>{{prod.quantity}}</strong> Pz)
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <a class="btn btn-info btn-popover-end" ng-href="/{{logged_user.user.url_culture}}/cart/{{cart.divisionID}}" 
          ng-if="!logged_user.hasFunctionality('enabled.direct_checkout') && getSettingBooleanValue('cart.group_by_division')">
        {{getFixedWord('CART_BUTTON', 'Check-out')}}
      </a>

      <a class="btn btn-info btn-popover-end" ng-href="/{{logged_user.user.url_culture}}/cart" 
          ng-if="!logged_user.hasFunctionality('enabled.direct_checkout') && !getSettingBooleanValue('cart.group_by_division')">
        {{getFixedWord('CART_BUTTON', 'Check-out')}}
      </a>


      <!-- ng-click="fctBuyInterface.directDocumentGeneration()" -->
      <button ng-if="logged_user.hasFunctionality('enabled.direct_checkout')" ng-click="fctBuyInterface.openNewDocumentWizard()"
              class="btn btn-info btn-popover-end">
        {{getFixedWord('CART_BUTTON', 'Check-out')}}
      </button>
    </div>
  </div>
</div>