<footer class="site-footer container" ng-controller="footerCtrl">
  <footer-menu data="menu" ng-if="menu && menu.items && !isMenuLoading"></footer-menu>
  <div class="row">
    <div class="footer-container col-xs-10 col-xs-offset-1 text-center">
        <div class="info white-text col-xs-12" style="margin-bottom:10px">
          <span class="bold">Gastaldi Gomme Service</span> | 
          <a ng-click="goTo($event, '/gastaldi_policy')" href="/gastaldi_policy">Privacy policy</a>
        </div>
      </div>
  </div>
</footer>
