<div class="modal_item customer-selector-item" ng-class="{
    billing_customer: i.is_billing && !i.is_shipping,
    shipping_customer: !i.is_billing && i.is_shipping,
    shipping_billing_customer: i.is_billing && i.is_shipping}" style="min-height: 106px;">    
  <div class="customer_code"># {{i.customer_code}}</div>
    
  <div class="b2b-status-label">
    <img ng-if="i.btb_active" src="/static/themes/front/img/custom/b2b_attivo.jpg">
    <img ng-if="!i.btb_active" src="/static/themes/front/img/custom/b2b_senza.jpg">
  </div>

  <div class="customer_name truncate" style="margin-bottom: 4px">{{i.company_name}}</div>     

  <span class="pull-right blocked-customer sm-icon-ion-locked" ng-show="i.blocked == 1">
  </span>
  
  <span ng-if="i.css_class" class="vl_icon pull-right" ng-class="i.css_class" style="color:{{i.statuselement_color}}">
  </span>

  <div class="sm-icon address_data clearfix" style="margin-bottom: 5px;" ng-class="{
      'sm-icon-isBilling': i.is_billing && !i.is_shipping, 
      'sm-icon-isShipping': !i.is_billing && i.is_shipping}">
    <div class="address pull-left" style="margin-right: 6px;">{{i.address}} </div> 
    <div class="zip_code">{{i.zip_code}} </div> 
    <div class="city">{{i.city}}</div><div class="zip_code" ng-show="i.province">, {{i.province}} </div>
  </div>


  <div class="sm-icon address_data clearfix">
    <div class="address">
      <span ng-show="i.phone || i.cellular_phone" style="margin-right: 4px">
        <span class="fa fa-phone"></span> 
        <span ng-show="i.phone">{{i.phone}} </span> 
        <span ng-show="i.cellular_phone">({{i.cellular_phone}})</span> 
      </span>
      <span ng-show="i.email"><span class="fa fa-envelope-o"></span> {{i.email}}</span>
    </div>

    <div class="agents" ng-if="i.releated_agents && i.releated_agents.length > 0">
      Ag. 
      <strong ng-repeat="a in i.releated_agents">
        {{a.agent_name}}<span ng-show="!$last">/</span>
      </strong>
    </div>

    <div class="address">Pagamento: {{i.paymenttype_vl_name}}</div>
  </div>   
  <i class="fa fa-lock" 
      ng-if="i.check_client"
      title="Accesso solo da browser certificato da Gastaldi" 
      style="position: absolute;right: 10px;font-size: 30pt;bottom: 35px;color: #d5d5d5;"></i>
</div>   