<div class="modal fade in" id="agentsReferencesInfo" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
        {{getFixedWord('GENERAL_REFERENCE_AGENTS', 'Riferimenti degli agenti di zona disponibili')}}
      </h4>
      </div>
      <div class="modal-body">
        <ul ng-repeat="agent in logged_user.user.agents_references">
          <strong>{{agent.agent_name}}</strong>:
          <a href="mailto:{{agent.email}}"> {{agent.email}} </a>
          <span ng-show="agent.cellular_phone || agent.phone"> - </span>
          <a href="tel:{{agent.link_phone}}">
            {{agent.cellular_phone || agent.phone}}
          </a>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
        {{getFixedWord('GENERAL_OK', 'Ok')}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>