<style>
	.link-btn {
    color: #fff;
    background-color: #25a6dd;
    padding: 10px;
    font-size: 15px;
	}
</style>

<h3>Dimentichi qualcosa?</h3>
<p>Gentile cliente, hai lasciato articoli interessanti nel tuo carrello.</p>



<a class="link-btn" href="<%data.cartURL%>"><strong>Vai al tuo carrello</strong></a>