<!-- CONTENTS -->
<section id="midsection" class="container">
  <div class="row">
		<div class="container">
			<h3>{{getFixedWord('PRODUCTS_CATALOG', 'Products Catalog')}}</h3>
			<div class="row division-page-block">
				<div ng-repeat="division in divisions" class="col-sm-6 col-md-division">
					<a ng-href="/{{logged_user.user.url_culture}}/fast-search/{{division.division_id}}" class="division-element division-element-sm" ng-class="getDivisionCssClass(division.division_id)">
						<h4>{{getDivisionCode(division.vl_name)}}</h4>
						<h5 ng-show="getSettingBooleanValue('catalog.divisions.show_subtitle')">{{getFixedWord('GENERAL_DIVISION', 'Division')}}</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>