<ng-include src="'gastaldi_home/gastaldi_home_v1.tpl.html'" ng-if="!logged_user.hasFunctionality('gastaldi.new_home')"></ng-include>
<ng-include src="'gastaldi_home/gastaldi_home_v2.tpl.html'" ng-if="logged_user.hasFunctionality('gastaldi.new_home')"></ng-include>