<style>
    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: rgb(249, 249, 249, 0.7);
    }
</style>

<div class="contaner" id="search-page">
    <div id="watermark" style="background: url('https://www.gastaldigommeservice.com/plh_gen/?txt={{logged_user.user.company_name}}')"></div>
    <div class="row">
        <h1 ng-if="homepageData.banner && homepageData.banner.length" ng-click="toggleSlider($event)" class="banner-title margin-60" data-toggle="collapse" data-target="#banner-container" style="color: #34B509;">PROMOZIONI E NEWS <span id="collapse-banner"></span></h1>
        <div id="banner-container" class="col-xs-12 col-sm-10 col-sm-offset-1 content-wrapper collapse">
            <slick settings="slickConfig">
                <div ng-repeat="slide in homepageData.banner">
                    <!-- SLIDE IMAGE + LINK -->
                    <a ng-if="slide.slide_href.length && !slide.alternative_file" ng-href="{{slide.slide_href}}" target="_blank">
                        <img class="img-responsive" src="{{slide.slide_image}}"/>
                    </a>
                    <!-- SLIDE FILE - IMAGE -->
                    <a ng-if="slide.alternative_file.length && !slide.slide_href.length && slide.alternative_file.indexOf('pdf') == -1" data-toggle="modal" data-target="#slideAltFileModal" ng-click="setCurrentAltFile($event, slide.alternative_file)">
                        <img class="img-responsive" src="{{slide.slide_image}}"/>
                    </a>
                    <!-- SLIDE FILE - PDF -->
                    <a ng-if="slide.alternative_file.length && !slide.slide_href.length && slide.alternative_file.indexOf('pdf') > -1" ng-click="showPDFSliderPreview(slide.alternative_file)">
                        <img class="img-responsive" src="{{slide.slide_image}}"/>
                    </a>
                    <!-- SIMPLE SLIDE - NO LINK -->
                    <img class="img-responsive" src="{{slide.slide_image}}" ng-if="slide.slide_href.length == 0 && (!slide.alternative_file || slide.alternative_file.length == 0)"/>
                </div>
            </slick>     
        </div>

        <div class="col-xs-12 col-md-10 col-md-offset-1" ng-class="{ 'margin-60' : homepageData.banner.length == 0}" style="margin-bottom: 52px;">
            <div class="loading_feedback gastaldi-search" ng-show="fctHomeFactory.loadingSearch">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
<!--             <div id="alert-section">
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><strong> Attenzione:</strong> Per ordini inferiori a 100 € imponibili previsto contributo spese di trasporto di € 5.00
                </div>
            </div> -->

            <!-- <div class="alert vdb-alert" ng-show="showVDBMessage">
                {{getFixedWord('GASTALDI_VDB_SEARCH_MSG', "La merce ordinata da questo reparto sarà in consegna in 7 gg circa, chiusura ordini ogni mercoledì ore 12.00. Il pfu sarà regolarmente addebitato in fase di emissione ddt. In caso di reso saranno addebitati € 45.00 a treno.")}}
            </div> -->


            <div class="alert vdb-alert" ng-show="showVDBMessage"
                ng-bind-html="getFixedWord('GASTALDI_VDB_SEARCH_MSG', 'La merce ordinata da questo reparto sarà in consegna in 7 gg circa, chiusura ordini ogni mercoledì ore 12.00. Il pfu sarà regolarmente addebitato in fase di emissione ddt. <br> In caso di reso saranno addebitati € 45.00 a treno.')">
            </div>

            <div id="main-panel" class="panel panel-primary" ng-if="dataLoaded" style="margin-top: 20px;background-color: rgb(255,255,255, 0);">
                <div class="panel-heading"><i class="fa fa-search"></i> Ricerca - <span class="panel-current-division">{{divisionData.vl_name}}</span> </div>
                <div class="panel-body">
                    <div ng-show="productListOne.length || listOneNotFound" class="header row">
                        <div class="col-xs-12 col-sm-8 search-labels">
                            <ul class="list-unstyled list-inline">
                                <li><span class="badge">{{fctHomeFactory.mainPaging.totalSize}}</span> Risultati  <span ng-if="fctGastaldiFacets.searchLabels['mainForm'].length"> per: </span> </li>
                                <li ng-repeat="item in fctGastaldiFacets.searchLabels['mainForm']">
                                    <span class="label" ng-class="item.type">{{item.value}}</span>
                                </li>
                            </ul> 
                        </div>
                        <div class="col-xs-12 col-sm-4 text-right buttons">
                            <a ng-show="fctHomeFactory.mainPaging.totalSize > 0 && !printModeOne" class="btn btn-default" ng-click="togglePrintMode(1)"><i class="fa fa-print"></i> Versione stampabile</a>
                            <a ng-show="printModeOne" class="btn btn-default" ng-click="togglePrintMode(1)"><i class="fa fa-table"></i> Versione normale</a>
                            <a class="btn btn-success" ng-click="toggleSearch()"><i class="fa fa-search"></i> Nuova ricerca</a>
                        </div>
                    </div>
                    <form ng-show="!productListOne.length && !listOneNotFound" class="form-horizontal" id="mainForm">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="size">Cerca misure:</label>
                            <div class="col-sm-10">
                                <input id="mainSearchInput" type="text" ng-enter="onSubmit()" class="form-control" ng-model="mainForm.size" placeholder="215, ecc...">
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label col-sm-2" for="brand">Marca:</label>
                                <div class="col-sm-10"> 
                                    <select ng-model="mainForm.facets.brand" ui-select2 required placeholder="Scegli un'opzione...">
                                        <option value="-1">-- Tutte le marche --</option>
                                        <option ng-repeat="facet in formFacets.brands.facets | orderBy: 'facet_value'" value="{{facet}}">{{facet.facet_value}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-sm-2" for="type">Genere:</label>
                                <div class="col-sm-10"> 
                                    <select ng-model="mainForm.facets.genre" ui-select2 required placeholder="Scegli un'opzione...">
                                        <option value="-1">-- Tutti i generi --</option>
                                        <option ng-repeat="facet in formFacets.genre.facets | orderBy: 'facet_value'" value="{{facet}}">{{facet.facet_value}}</option>
                                    </select> 
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label col-sm-2" for="sector">Settore:</label>
                                <div class="col-sm-10"> 
                                    <select ng-model="mainForm.facets.sector" ui-select2 required placeholder="Scegli un'opzione...">
                                        <option value="-1">-- Tutti i settori --</option>
                                        <option ng-repeat="facet in formFacets.sector.facets | orderBy: 'facet_value'" value="{{facet}}">{{facet.facet_value}}</option>
                                    </select> 
                                </div>
                            </div>                            
                        </div>  
                        <div class="form-group col-xs-12">
                            <label class="checkbox-inline"><input type="checkbox" id="mainStockFilter" ng-model="mainForm.stock">{{stockLabel}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.promo.facet_id}}" ng-model="mainForm.facets.promo">{{formFacets.promo.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.reinforced.facet_id}}" ng-model="mainForm.facets.reinforced">{{formFacets.reinforced.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.flap.facet_id}}" ng-model="mainForm.facets.flap">{{formFacets.flap.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.run_on_flat.facet_id}}" ng-model="mainForm.facets.run_on_flat">{{formFacets.run_on_flat.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.seasonal.facet_id}}" ng-model="mainForm.facets.seasonal">{{formFacets.seasonal.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.summer.facet_id}}" ng-model="mainForm.facets.summer">{{formFacets.summer.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.winter.facet_id}}" ng-model="mainForm.facets.winter">{{formFacets.winter.facet_text}}</label>
                            <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.wheel.facet_id}}" ng-model="mainForm.facets.wheel">{{formFacets.wheel.facet_text}}</label>
                        </div>    
                    </form>
                    <div ng-show="listOneNotFound" class="text-center"><h2>Nessuna corrispondenza trovata.</h2></div>
                    <div ng-if="productListOne.length">
                        <div id="maintable-container" class="search-table-container" ng-class="{'print-mode': printModeOne}"
                            ng-include="'gastaldi_home/templates/product_table.tpl.html'" 
                            ng-init="paging = fctHomeFactory.mainPaging; 
                                    payload = fctHomeFactory.mainPayload; 
                                    container = '#maintable-container';
                                    listTag = 'main';"></div> 
                    </div>
                </div>
            </div>
            <div id="secondary-panel" class="panel panel-success" ng-show="!fctHomeFactory.searched || showSecondaryForm" style="background-color: rgb(255,255,255, 0);">
                <div class="panel-heading">
                    <a ng-show="!fctHomeFactory.searched" data-toggle="collapse" href="#collapsible-panel" ng-click="toggleSecondaryForm()">
                        <i class="fa fa-search"></i> 
                        <span> Ricerca accoppiata</span>
                    </a>
                    <span ng-show="fctHomeFactory.searched">
                        <i class="fa fa-search"></i> 
                        <span> Ricerca accoppiata</span>
                    </span>
                    <a ng-show="!fctHomeFactory.searched" class="pull-right" data-toggle="collapse" href="#collapsible-panel" ng-click="toggleSecondaryForm()">
                        <span ng-show="!showSecondaryForm"><i class="fa fa-plus"></i> Aggiungi accoppiata</span>
                        <span ng-show="showSecondaryForm"><i class="fa fa-minus"></i> Chiudi accoppiata</span>
                    </a>
                </div>
                <div id="collapsible-panel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-show="productListTwo.length || listTwoNotFound" class="header row">
                            <div class="col-xs-12 col-sm-8 search-labels">
                                <ul class="list-unstyled list-inline">
                                    <li><span class="badge">{{fctHomeFactory.secondaryPaging.totalSize}}</span> Risultati <span ng-if="fctGastaldiFacets.searchLabels['secondaryForm'].length"> per: </span></li>
                                    <li ng-repeat="item in fctGastaldiFacets.searchLabels['secondaryForm']">
                                        <span class="label" ng-class="item.type">{{item.value}}</span>
                                    </li>
                                </ul> 
                            </div>
                            <div class="col-xs-12 col-sm-4 text-right buttons">
                                <a ng-show="fctHomeFactory.secondaryPaging.totalSize > 0 && !printModeTwo" class="btn btn-default" ng-click="togglePrintMode(2)"><i class="fa fa-print"></i> Versione stampabile</a>
                                <a ng-show="printModeTwo" class="btn btn-default" ng-click="togglePrintMode(2)"><i class="fa fa-table"></i> Versione normale</a>
                                <a class="btn btn-success" ng-click="toggleSearch()"><i class="fa fa-search"></i> Nuova ricerca</a>
                            </div>
                        </div>
                        <div ng-show="listTwoNotFound" class="text-center"><h2>Nessuna corrispondenza trovata.</h2></div>
                        <div ng-if="productListTwo.length">
                            <div id="secondarytable-container" class="search-table-container"
                                ng-class="{'print-mode': printModeTwo}"
                                ng-include="'gastaldi_home/templates/product_table.tpl.html'" 
                                ng-init="paging = fctHomeFactory.secondaryPaging; 
                                    payload = fctHomeFactory.secondaryPayload; 
                                    container = '#secondarytable-container';"></div> 
                        </div>
                        <form ng-show="!productListTwo.length && !listTwoNotFound" class="form-horizontal" id="secondaryForm">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="size">Cerca misure:</label>
                                <div class="col-sm-10">
                                <input type="size" ng-enter="onSubmit()"  class="form-control" ng-model="secondaryForm.size" placeholder="215, ecc...">
                                </div>
                            </div> 
                            <div class="row">
                                <div class="form-group col-md-4">
                                        <label class="control-label col-sm-2" for="brand">Marca:</label>
                                        <div class="col-sm-10"> 
                                            <select ng-model="secondaryForm.facets.brand" ui-select2 required placeholder="Scegli un'opzione...">
                                                <option value="-1">-- Tutte le marche --</option>
                                                <option ng-repeat="facet in formFacets.brands.facets | orderBy: facet_text" value="{{facet}}">{{facet.facet_value}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label col-sm-2" for="type">Genere:</label>
                                        <div class="col-sm-10"> 
                                            <select ng-model="secondaryForm.facets.genre" ui-select2 required placeholder="Scegli un'opzione...">
                                                <option value="-1">-- Tutti i generi --</option>
                                                <option ng-repeat="facet in formFacets.genre.facets | orderBy: facet_text" value="{{facet}}">{{facet.facet_value}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label col-sm-2" for="sector">Settore:</label>
                                        <div class="col-sm-10"> 
                                            <select ng-model="secondaryForm.facets.sector" ui-select2 required placeholder="Scegli un'opzione...">
                                                <option value="-1">-- Tutti i settori --</option>
                                                <option ng-repeat="facet in formFacets.sector.facets | orderBy: facet_text" value="{{facet}}">{{facet.facet_value}}</option>
                                            </select> 
                                        </div>
                                    </div>                            
                                </div>  
                                <div class="form-group col-xs-12">
                                    <label class="checkbox-inline"><input type="checkbox" id="secondaryStockFilter" ng-model="secondaryForm.stock">{{stockLabel}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.promo.facet_id}}" ng-model="secondaryForm.facets.promo">{{formFacets.promo.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.reinforced.facet_id}}" ng-model="secondaryForm.facets.reinforced">{{formFacets.reinforced.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.flap.facet_id}}" ng-model="secondaryForm.facets.flap">{{formFacets.flap.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.run_on_flat.facet_id}}" ng-model="secondaryForm.facets.run_on_flat">{{formFacets.run_on_flat.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.seasonal.facet_id}}" ng-model="secondaryForm.facets.seasonal">{{formFacets.seasonal.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.summer.facet_id}}" ng-model="secondaryForm.facets.summer">{{formFacets.summer.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.winter.facet_id}}" ng-model="secondaryForm.facets.winter">{{formFacets.winter.facet_text}}</label>
                                    <label class="checkbox-inline"><input type="checkbox" id="{{formFacets.wheel.facet_id}}" ng-model="secondaryForm.facets.wheel">{{formFacets.wheel.facet_text}}</label>
                                </div>                                 
                            </div>  
                        </form>
                    </div>
                </div>
                <div class="text-center" ng-show="!fctHomeFactory.searched">
                    <button class="col-xs-12 btn btn-success" ng-click="onSubmit()">
                        <i class="fa fa-search"></i> Ricerca
                    </button>
                </div>
                <div ng-include="'gastaldi_home/templates/product_modal.tpl.html'"></div> 
                <div ng-include="'templates/modals_templates.tpl.html'"></div>
            </div>
        </div>
    </div>
    <!-- ACTIONS BAR (wishlist/cart download/compare) -->
    <div actions-bar></div>
</div>


<div id="splashModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="image-container">
                    <img id="product-image" ng-src="{{firm.splash_screen.full_image_url}}" class="img-responsive product-image"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div id="slideAltFileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="image-container">
                    <img ng-src="{{slideCurrentAltFile}}" class="img-responsive product-image" style="width: 100%"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="slidePDFpreviewModal" aria-hidden="false">
    <div class="modal-dialog" style="min-width:80%;">
        <div class="modal-content">
            <div class="modal-body">
              <div id="sliderPreviewPdf" style="height: 670px;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> Chiudi</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
    
<div ng-include="'templates/custom_templates.tpl.html'"></div>