.circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	margin-left: 10px;
}

legend {
  margin-bottom: 15px!important;
}

input.ng-invalid {
	border-color: #FA787E !important;
}
 
input.ng-valid.ng-dirty {
	border-color: #78FA89 !important;
}

.search-table-container {
  width: 100%;
  max-height: 360px;
  overflow-y: auto;
}

.no-margin {
	margin: 0px!important;
}

.img-responsive {
  max-height: 20px;
}

.p-r-0 {
	padding-right: 0px;
}

.form-group {
    margin-bottom: 20px;
}

.list-facet-value {
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}

.v-middle td {
	vertical-align: middle!important
}

.sortable tr:hover > td {    
	cursor: grab;
	background: #f1f1f1!important;
}

.table-edit-col {
	width: 44px
}

.progress.progress-striped {
	width: 100%;
  margin: 20px 0px 0px;
}

div.progress-bar {
  width: 100% !important; 
  -webkit-animation-direction: reverse!important;
}

@media (min-width: 768px) {
	#previewModal .modal-dialog {
    width: 60%;
	}
}